.schedule {
  .calendar {
    background-color: #fff;
    bottom: -520px;
    box-shadow: 2px 2px 3px 0 rgba(197, 200, 203, 0.75);
    height: 500px;
    position: absolute;
    right: 0;
    z-index: 1;
    &-top {
      h3 {
        font-size: 21px;
        color: #289be5;
        text-align: center;
        margin: 30px 0 50px;
        &:before, &:after {
          position: relative;
          cursor: pointer;
        }
        &:before {
          content: url(/images/icon-chevron-left.png);
          left: - toPercents(115, 443);
        }
        &:after {
          right: - toPercents(115, 443);
          content: url(/images/icon-chevron-right.png);
        }
      }
    }
    &-table {
      table {
        width: 100%;
      }
      thead tr td {
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 25px;
        color: #289be5;
      }
      tbody tr td {
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        line-height: 49px;
        color: #61676b;
      }
      .actual-day{
        position: relative;
        &:before{
          position: absolute;
          content: "";
          width: 27px;
          height: 27px;
          background-color: transparent;
          border-radius: 50%;
          border: 1px solid #289be5;
          top: 11px;
          right: 14.9px;
        }
      }
      .another-month {
        color: #a7acaf;
      }
    }
  }
  .add-lesson {
    margin-top: 30px;
  }
  .inputclass {
    position: relative;
    .inputclass-top-arrows {
      position: absolute;
      top: 1px;
      right: 0;
    }
  }

  font-family: $fontRobotoRegular;
  color: $colorDarkGreyText;
  .period-row {
    margin-top: 30px;
    .option-div {
      float: left;
      .inputclass {
        z-index: 1;
        display: inline-block;
        margin-left: 20px;
        position: relative;
        top: 10px;
      }
    }
    .choose-date {
      cursor: pointer;
      margin-top: 2px;
      float: right;
      line-height: 3;
      span {
        margin-right: 20px;
      }
    }
  }

  .content-container{
    padding-left: 15px;
    padding-right: 15px;
  }
}
.icon-calendar {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url('/images/Icon/Ресурс 2icon2.png') no-repeat;
  position: relative;
  background-size: contain;
  // top: 8px;
}
.icon-calendar-add {
  @extend .icon-calendar;
  height:auto;
  min-height: 30px;
  top:45px;
  right: 16px;
  position: absolute;
  .calendar{
    margin-left: 30px;
  }
}

.schedule {
  .table-common {
    margin-top: 30px;
    color: $colorDarkGreyText;
    .table-common-trtop td {
      padding: 0 6px;
    }
    .table-common-trhead td {
      padding: 0 6px;
      vertical-align: bottom;
      text-align: left;
    }
    .inputclass {
      z-index: 0;
    }
    .inputclass-top-input {
      background-color: #696d77;
      color: #ffffff;
      text-align: left;
      padding-left: 6px;
    }
    .inputclass-top-arrows {
      background-color: #c7c9ce;
    }
    .table-common-trtop {
      td:nth-child(1) {
        width: 130px;
      }
      td:nth-child(2) {
        width: 130px;
      }
      td:nth-child(3) {
        width: 210px;
        .inputclass {
          width: 190px;
        }
        .inputclass-top-input {
          width: 160px;
        }
      }
      td:nth-child(5) {
        width: 480px;
      }
    }
    // TODO: find right selector at http://localhost:8888/teacher/schedule
    .date-row {
      border-top: 5px solid #eff1f5;
      &.first {
        border-top: none;
      }
      .date {
        background-color: #dddfe6;
        font-weight: bold;
        font-family: $fontRobotoBold;
        color: $colorDarkGreyText;
      }
    }
    .table-common-trbottom td {
      padding: 5px 6px;
    }
  }
  .tdlast-pencil, .tdlast-cross {
    width: 60px;
  }
}
.button-grey-schedule {
  margin-top: 20px;
  width: 164px;
  float: none;
  margin: 0 auto;
}

.div-calendar {
  margin-top: 20px;
  background: white;
  // height: 530px;
  // overflow: hidden;
  width: 443px;
  padding: 0px 20px 50px;
  position: absolute;
  z-index: 99;
  #calendar2 {
    width: 100%;
    thead {
      color: #289be5;
      width: 100%;
      .thead-tr-top {
        font: {
          family: inherit;
          size: 22px;
          weight: 500;
        }
        height: 55px;
        text-align: center;
        width: 100%;
        .td-arrow {
          &-left {
            cursor: pointer;
            font: {
              size: 42px;
            }
            div {
              margin: -33px 0 0 15px;
              position: absolute;
            }
          }
          &-right {
            cursor: pointer;
            font: {
              size: 42px;
            }
            div {
              margin: -33px 0 0 30px;
              position: absolute;
            }
          }
        }
      }
      .thead-tr-bottom {
        height: 56px;
        td {
          color: #289be5;
          font-size: 16px;
          line-height: 25px;
          text-align: center;
          text-transform: uppercase;
        }
      }
    }
    tbody {
      tr {
        color: #61676b;
        font-size: 16px;
        height: 50px;
        text-align: center;
      }
    }
  }
  #calendar2 tbody td.today {
    &:before {
      background-color: transparent;
      border: 1px solid #289be5;
      border-radius: 50%;
      content: "";
      cursor: pointer;
      height: 29px;
      margin: -5px 0 0 -5px;
      position: absolute;
      width: 29px;
    }
  }
}
