.schedule-edit {
  .inputclass {
    width: 100%;
    &-top-arrows {
      width: 10%;
    }
    &-top-input {
      width: 90%;
    }
  }
  input[type="date"]{
    font-family: $fontRobotoRegular;
    width: 100%;
    padding: 5px;
  }
  #schedule-lesson{
    .inputclass{
      z-index: 1;
    }
  }
}