<div ui-view="">
    <div class="row">
        <div class="user-page">
            <div class="created">
                <div class="info" ng-show="newUser">
                    Пользователь {{newUser}} создан
                </div>
            </div>

            <div class="col-sm-5">
                <div class="info" ng-show="showTheWindowOnSuccess">Данные сохранены</div>
                <form role="form">
                    <div class="form-group create-form-container">
                        <div class="header-text header-container">ФАМИЛИЯ:</div>
                        <input class="form-control" id="firstname" ng-model="_createdUser.firstName">
                    </div>
                    <div class="form-group create-form-container">
                        <div class="header-text header-container">ИМЯ:</div>
                        <input class="form-control" id="secondname" ng-model="_createdUser.lastName">
                    </div>
                    <div class="form-group create-form-container">
                        <div class="header-text header-container">ОТЧЕСТВО:</div>
                        <input class="form-control" id="lastname" ng-model="_createdUser.patronymic">
                    </div>

                    <div class="form-group create-form-container">
                        <div class="header-text header-container">E-mail:</div>
                        <input class="form-control" id="email" ng-model="_createdUser.email">
                    </div>
                    <div class="header-text header-container">ПАРОЛЬ:</div>
                    <div class="form-group">
                        <div class="form-inline">
                            <input type="text" class="form-control pass-form-minus-button strPassGen"
                                   ng-model="_createdUser.password">

                            <button class="btn btn-default pull-right" ng-click="genPass()">Создать пароль</button>
                        </div>
                    </div>

                    <div class="header-text header-container">РОЛЬ:</div>
                    <!--<div ng-repeat="desc in roles">{{desc.description}}</div>-->
                    <!--<select ng-model="_createdUser.roleId">-->
                    <!--<option ng-repeat="desc in roles" value="{{desc.id}}">{{desc.description}}</option>-->
                    <!--</select>-->
                    <drop-down list="roles" model="_createdUser.roleId"></drop-down>

                    <div class="form-group create-form-container" ng-show="_createdUser.roleId==4">
                        <div class="header-text header-container">КЛАСС:</div>
                        <drop-down list="class" model="_createdUser.classId"></drop-down>
                    </div>
                </form>

                <div>
                    <div class="create-checkbox">
                        <label><input type="checkbox" name="optradio"> Отправить пользователю доступы в личный
                            кабинет</label>
                    </div>
                    <div class="btns-container">
                        <div class="button-blue-login btns-margin-first" ng-click="regUser()">Создать</div>

                        <div class="button-green btns-margin-second" ng-click="saveAndContinue()">Создать и продолжить
                        </div>

                    </div>
                    <div class="btns-container">

                        <div ui-sref="users" class="button-grey btns-margin-third">Назад к списку</div>

                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
