<div class="row" ui-view="">
    <div class="user-page"><br>
        <div class="userview-container-for-row">
            <div class="col-xs-2 userview-rightcolumn-text">Фамилия:</div>
            <div class="col-xs-10">{{_userSelected.firstName}}</div>
        </div>
        <div class="userview-container-for-row">
            <div class="col-xs-2 userview-rightcolumn-text">Имя:</div>
            <div class="col-xs-10">{{_userSelected.lastName}}</div>
        </div>
        <div class="userview-container-for-row">
            <div class="col-xs-2 userview-rightcolumn-text">Отчество:</div>
            <div class="col-xs-10">{{_userSelected.patronymic}}</div>
        </div>
        <div class="userview-container-for-row">
            <div class="col-xs-2 userview-rightcolumn-text">Роль:</div>
            <div class="col-xs-10">{{_userSelected.role.description}}</div>
        </div>
        <div class="userview-container-for-row">
            <div class="col-xs-2 userview-rightcolumn-text">Класс:</div>
            <div class="col-xs-10">{{_userSelected.learner.class.className}}</div>
        </div>
        <div class="userview-container-for-row">
            <div class="col-xs-2 userview-rightcolumn-text">E-mail:</div>
            <div class="col-xs-10">{{_userSelected.email}}</div>
        </div>
        <div class="button-grey" ui-sref="users.edit({id:_userSelected.id})">Редактировать</div>
        <div class="button-blue-login" ui-sref="users">Назад к списку</div>
    </div>
</div>