
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading panel-blue">
        <div class="panel-title">
          <div class="row">
            <div class="col-xs-9">
              <p>УРОК №3 / {{topic}} 10.03.2016


              </p>
            </div>
            <div class="col-xs-2">
              <button type="button" name="button" class="btn btn-danger float-right panel-button btn-sm"
              ng-click="closed()" ui-sref="lesson.lessonschedule">Покинуть урок</button>
            </div>

            <div class="col-xs-1">
              <p class="text-right">

                <i class="glyphicon glyphicon-pause"
                  ng-click="departed(true)" ng-hide="btnDeparted || btnArmUp"></i>
                <i class="glyphicon glyphicon-play"
                  ng-click="departed(false)" ng-show="btnDeparted"></i>
              </p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <p>
            ВИДЕО УРОКА
          </p>
        </div>
      </div>
      <div class="panel-area video-container">
        <video id="remoteVideo" width="318" height="200" autoplay>
      </div>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <p>
            МОЕ ВИДЕО
          </p>
        </div>
      </div>
      <div class="panel-area">
        <video id="localVideo" width="303" height="217" autoplay></video>
      </div>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <p>
            ИНФО
          </p>
        </div>
      </div>
      <div class="panel-area">
        <div class="lesson-info">
            <table class="table table-responsive">
              <tbody>
                <tr>
                  <th>
                    Предмет:
                  </th>
                  <td>
                    Физика
                  </td>
                </tr>
                <tr>
                  <th>
                    Тема:
                  </th>
                  <td>
                    {{topic}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Учитель:
                  </th>
                  <td>
                    {{teacher}}
                  </td>
                </tr>
                <tr>
                  <th>
                    Длительность:
                  </th>
                  <td>
                    45 мин.
                  </td>
                </tr>
                <tr>
                  <th>
                    До окончания:
                  </th>
                  <td>
                    0 мин. 0 сек.
                  </td>
                </tr>
                <tr>
                  <th>
                    Статус:
                  </th>
                  <td>
                    Завершен
                  </td>
                </tr>
                <tr>
                  <th>
                    Теги:
                  </th>
                  <td>
                    Энергия, температура, влажность, масса
                  </td>
                </tr>
              </tbody>
            </table>

        </div>
      </div>

      <div class="raise-hand" ng-click="armUp(true)" ng-hide="btnArmUp || btnDeparted">
        <h4 class="text-center">
          ПОДНЯТЬ РУКУ
          <span class="float-right-icon"><img ng-src="images/images/path178.png" alt="" /></span>
        </h4>
      </div>
      <div class="raise-hand" ng-click="armUp(false)" ng-show="btnArmUp">
        <h4 class="text-center">
          ОПУСТИТЬ РУКУ
          <span class="float-right-icon"><img ng-src="images/images/path178.png" alt="" /></span>
        </h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading panel-blue">
        <div class="panel-title">
          <div class="row">
            <div class="col-xs-10">
              <p>СООБЩЕНИЯ
              </p>

            </div>

            <div class="col-xs-2">
              <select class="selectpicker form-control" ng-model="messageSelect" ng-change="active(action,messageSelect)">
              <option value="0" ng-class="{'active':act===0}">Новые</option>
              <option value="1" ng-class="{'active':act===1}">2 дня</option>
              <option value="2" ng-class="{'active':act===2}">Все</option>
            </div>
          </div>

        </div>

      </div>

      <div class="messages-box">
        <div class="message-box" ng-repeat="singleMessage in chat.messages">
          <div class="message-avatar">
            <img ng-src="images/images/path4847.png" alt="" />
          </div>
          <div class="message">
            <div class="message-title">
              <p>
                {{singleMessage.user.firstName}} {{singleMessage.user.lastName}} {{singleMessage.user.patronymic}} <span>{{singleMessage.createdAt | dateTimeFilter}}</span>
              </p>
            </div>
            <div class="message-text">
              {{singleMessage.message}}
            </div>
          </div>

        </div>

      </div>
      <div class="chat-input">
        <form>
          <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="Введите сообщение"
              ng-model="chat.message" ng-keyup="chat.keyUp($event)"></textarea>
          </div>
          <button type="submit" class="btn btn-info" name="button" ng-click="chat.addMessage()">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <p>МАТЕРИАЛЫ
            <span class="float-right-icon">
            <img ng-if="role === 3"
             ng-src="images/Icon/Ресурс 3icon.png" alt="" />
          </span>
          </p>
        </div>
      </div>

      <div class="panel-area">
        <div class="attachments">
          <div class="attachment" ng-repeat="row in filelist">
            <div class="attach-img">
              <a ng-href="/images/upload/files/{{row.fileName}}" target="_self"
               download="{{row.sourceFileName}}">
                <img ng-src="images/Icon/Ресурс 14icon2.png" alt="" />
              </a>
            </div>
            <div class="attach-info">
              <div class="attach-title">
                <a ng-href="/images/upload/files/{{row.fileName}}" target="_self"
                 download="{{row.sourceFileName}}">
                  {{row.sourceFileName}}
                </a>
              </div>
              <div class="attach-buttons">
                <a ng-href="/images/upload/files/{{row.fileName}}" target="_self"
                 download="{{row.sourceFileName}}">
                 <img ng-src="images/Icon/Ресурс 5icon2.png" alt="" />
               </a>
                <img ng-if="role == 3" src="/images/images/path5143.png" alt="" />
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <p>ДОМАШНЕЕ ЗАДАНИЕ <span class="float-right-icon"><button type="button" class="btn btn-info" name="button">Просмотреть</button></span></p>
      </div>
    </div>

    <div class="panel-area">
      <div class="homeworks">
        <div class="task">
          <div class="row">
            <div class="col-xs-3">
              <div class="task-info">
                <div class="task-title">
                  <strong>
                    Задание №1 - Решить задачу
                  </strong>
                  <p>
                    <small>
                      Задача на первый закон термодинамики
                    </small>
                  </p>

                </div>
              </div>

            </div>
            <div class="col-xs-9">
              <div class="task-description">
                <small class="">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
