<div ui-view>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading panel-blue">
          <div class="panel-title">
            <div class="row">
              <div class="col-xs-10">
                <p>УРОК №3 / {{topic}} 10.03.2016


                </p>
              </div>
              <div class="col-xs-1">
                <button type="button" name="button"
                 class="btn btn-info panel-button btn-sm"
                 ng-click="lessonRun()"  ng-hide="classRun" >
                 Начать
               </button>
                <button type="button" name="button" class="btn btn-danger panel-button btn-sm"
                 data-toggle="modal" data-target="#myModal2"
                 ng-click="lessonEnd()" ng-hide="classEnd || timeout">Завершить</button>
                <button type="button" name="button" class="btn btn-default panel-button btn-sm"
                 ng-click="lessonPause(true)"
                 ng-show="classPause && !timeout && !classEnd">Приостановить</button>
                <button type="button" name="button" class="btn btn-default panel-button btn-sm"
                  ng-click="lessonContinue(true)" ng-show="classContinue">
                  Продолжить</button>
              </div>
              <div class="col-xs-1">
                <span class="float-right-icon">

                  <i class="glyphicon glyphicon-info-sign"></i>
                </span>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-9">
      <div class="row">

        <div class="col-xs-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <p>
                  КАМЕРА - КЛАСС
                </p>
              </div>
            </div>
            <div class="panel-area video-container">
              <div class="cams-at-start" ng-hide="classRun">
                  <div class="cams-images">
                      <div class="cams-main-img">
                          <img src="/images/cams-preview/1.jpg" alt="preview"/>
                      </div>
                      <div class="cams-preview-imgs">
                          <img src="/images/cams-preview/2.jpg" alt="little-preview"/>
                          <img src="/images/cams-preview/2.jpg" alt="little-preview"/>
                          <img src="/images/cams-preview/2.jpg" alt="little-preview"/>
                          <img src="/images/cams-preview/2.jpg" alt="little-preview"/>
                      </div>
                  </div>
              </div>

              <div class="cams-at-run" ng-show="classRun">
                  <div class="cams-images">
                      <div class="cams-main-img">
                          <video id="remoteVideo" width="318" height="200" autoplay>
                          </video>
                      </div>
                      <div class="cams-preview-imgs">
                          <video emit-last-repeater-element id="remoteVideo{{$index}}" width="79" height="45" autoplay ng-repeat="nextCamera in camerasList" ng-if="$index" ng-click="changeVideoWindow($index)">
                              <img src="/images/157.png" alt="little-preview"/>
                          </video>
                      </div>
                      <br>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <p>
                  КАМЕРА - УЧЕНИК
                </p>
              </div>
            </div>
            <div class="panel-area">
              <div class="section student">
                  <div class="student-image" ng-hide='classRun'>
                      <img src="/images/cams-preview/1.jpg" alt="preview"/>
                  </div>
                  <video id='learnerVideo' width="318" height="200" autoplay ng-show="classRun"></video>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">

        </div>
      </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                УЧЕНИКИ
              </a>
            </h4>
          </div>
              <div class="learners">
                <div class="learner" ng-repeat="learner in learners | filter: sortParams">
                  <p>
                    {{learner.user.firstName}} {{learner.user.lastName}} {{learner.user.patronymic}}
                    <span ng-show="learner.armUp">
                      <img ng-src="images/images/path5143.png" alt="" />
                    </span>
                    <span ng-show="learner.armUp">
                      <img ng-src="images/images/path5143.png" alt="" />
                    </span>
                  </p>
                </div>

              </div>
              <div class="panel-footer">
                <select class="form-control" ng-model="activeButton" ng-change="active(activeButton, act)">
                  <option  value="0">На уроке</option>
                  <option  value="1">Подняли руку</option>
                  <option  value="2">Отсутствуют</option>
                </select>
                <!-- <select class="selectpicker form-control">
                  <option>На уроке</option>
                  <option>Ketchup</option>
                  <option>Relish</option>
                <select> -->
              </div>
        </div>
  </div>



</div>


<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading panel-blue">
        <div class="panel-title">
          <div class="row">
            <div class="col-xs-10">
              <p>СООБЩЕНИЯ
              </p>

            </div>

            <div class="col-xs-2">
              <select class="selectpicker form-control" ng-model="messageSelect" ng-change="active(action,messageSelect)">
              <option value="0" ng-class="{'active':act===0}">Новые</option>
              <option value="1" ng-class="{'active':act===1}">2 дня</option>
              <option value="2" ng-class="{'active':act===2}">Все</option>
            </select>
            </div>
          </div>

        </div>

      </div>

      <div class="messages-box">
        <div class="message-box" ng-repeat="singleMessage in chat.messages">
          <div class="message-avatar">
            <img ng-src="images/images/path4847.png" alt="" />
          </div>
          <div class="message">
            <div class="message-title">
              <p>
                {{singleMessage.user.firstName}} {{singleMessage.user.lastName}} {{singleMessage.user.patronymic}} <span>{{singleMessage.createdAt | dateTimeFilter}}</span>
              </p>
            </div>
            <div class="message-text">
              {{singleMessage.message}}
            </div>
          </div>

        </div>

      </div>
      <div class="chat-input">
        <form>
          <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="Введите сообщение"
              ng-model="chat.message" ng-keyup="chat.keyUp($event)"></textarea>
          </div>
          <button type="submit" class="btn btn-info" name="button" ng-click="chat.addMessage()">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <p>МАТЕРИАЛЫ
            <span class="float-right-icon">
              <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length" ng-show="uploader.queue.length">
                  <span class="glyphicon glyphicon-upload"></span> Загрузить файлы
              </button>
            <img ng-if="role === 3" onclick="$('#selectFile').click();" ng-click="b=true"
             ng-src="images/Icon/Ресурс 3icon.png" alt="" />
          </span>
          </p>
        </div>
      </div>

      <div class="panel-area">
        <div class="attachments">
          <div class="attachment" ng-repeat="row in filelist">
            <div class="attach-img">
              <a ng-href="/images/upload/files/{{row.fileName}}" target="_self"
               download="{{row.sourceFileName}}">
                <img ng-src="images/Icon/Ресурс 14icon2.png" alt="" />
              </a>
            </div>
            <div class="attach-info">
              <div class="attach-title">
                <a ng-href="/images/upload/files/{{row.fileName}}" target="_self"
                 download="{{row.sourceFileName}}">
                  {{row.sourceFileName}}
                </a>
              </div>
              <div class="attach-buttons">
                <a ng-href="/images/upload/files/{{row.fileName}}" target="_self"
                 download="{{row.sourceFileName}}">
                 <img ng-src="images/Icon/Ресурс 5icon2.png" alt="" />
               </a>
                <img ng-if="role == 3" src="/images/images/path5143.png" alt="" />
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <p>ДОМАШНЕЕ ЗАДАНИЕ <span class="float-right-icon"><img ng-src="images/images/path5135-6.png" alt="" data-toggle="modal" data-target="#myModal"/></span></p>
        </div>
      </div>

      <div class="panel-area">
        <div class="homeworks">
          <div class="task">
            <div class="row">
              <div class="col-xs-3">
                <div class="task-info">
                  <div class="task-title">
                    <strong>
                      Задание №1 - Решить задачу
                    </strong>
                    <p>
                      <small>
                        Задача на первый закон термодинамики
                      </small>
                    </p>

                  </div>
                </div>

              </div>
              <div class="col-xs-9">
                <div class="task-description">
                  <small class="">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </small>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->

<div class="modal fade modal-form" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="myModalLabel">Редактировать данные об уроке</h3>
      </div>
      <div class="modal-body">
        <form>
          <div class="row form-group">
            <div class="col-xs-6">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Крайний срок" aria-describedby="basic-addon1">
                <span class="input-group-addon" id="basic-addon1">
                  <img ng-src="images/images/path4831-3.png" alt="" />
                </span>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-xs-6">
              <input type="text" class="form-control" placeholder="Название задания" aria-describedby="basic-addon1">
            </div>
            <div class="col-xs-6">
              <input type="text" class="form-control" placeholder="Краткое описание" aria-describedby="basic-addon1">
            </div>
          </div>

          <div class="row form-group">
            <div class="col-xs-12">
              <textarea name="name" class="form-control" placeholder="Текст задания" rows="5"></textarea>
            </div>
          </div>

          <br>
          <div class="flex-buttons">
            <button type="button" class="btn btn-info" data-dismiss="modal">Создать</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->

  <div class="modal fade modal-form" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title text-center" id="myModalLabel">Изменить теги после завершения урока?</h3>
        </div>
        <div class="modal-body">
          <form>
            <div class="row form-group">
              <div class="col-xs-12">
                  <input type="text" class="form-control" placeholder="Энергия, температура, влажность, масса">
              </div>
            </div>



            <br>
            <div class="flex-buttons">
              <button type="button" class="btn btn-info" data-dismiss="modal">Изменить</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Сохранить</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="uploadFiles">

      <div class="buttonsForUploadFiles">
          <input id="selectFile" type="file" nv-file-select="" uploader="uploader" ng-hide="true" multiple  /><br/>
      </div>
  </div>
  </div>
