
<div ui-view="">

  <div class="row">
    <div class="col-xs-3">

      <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="sort-panel panel-default" is-open="status.period">
          <uib-accordion-heading>
            Период
              <i class="pull-right filter-triangle glyphicon"
              ng-class="{'glyphicon-triangle-top': status.period, 'glyphicon-triangle-bottom': !status.period}"></i>

          </uib-accordion-heading>
          <div class="filter-buttons">
            <div class="filter-button" ng-click="sortByPeriod('periodId', 0)">
              <p>Все</p>
            </div>
            <div class="filter-button" ng-click="sortByPeriod('periodId', 1)">
              <p>Неделя</p>
            </div>
            <div class="filter-button" ng-click="sortByPeriod('periodId', 2)">
              <p>Месяц</p>
            </div>
            <div class="filter-button" ng-click="sortByPeriod('periodId', 3)">
              <p>Три месяца</p>
            </div>
            <div class="filter-button" ng-click="sortByPeriod('periodId', 4)">
              <p>Полгода</p>
            </div>
            <div class="filter-button" ng-click="sortByPeriod('periodId', 5)">
              <p>Год</p>
            </div>
          </div>
        </div>

        <div uib-accordion-group class="sort-panel panel-default" is-open="status.date">
          <uib-accordion-heading>
            Дата
              <i class="pull-right filter-triangle glyphicon"
              ng-class="{'glyphicon-triangle-top': status.date, 'glyphicon-triangle-bottom': !status.date}"></i>

          </uib-accordion-heading>
          <div class="input-group panel-input">
            <input type="text" class="form-control" aria-describedby="basic-addon1"
            ng-model="sendSearchRequest.begin_ts"  ng-keyup="sendFilter($event)">
            <span class="input-group-addon" id="basic-addon1">
              <div class="choose-date" ng-click="buildCalendar();showCalendar = !showCalendar">

                  <div class="icon-calendar">
                      <div class="calendar" ng-show="showCalendar">

                          <div class="div-calendar" ng-click="$event.stopPropagation()">
                              <table id="calendar2">
                                  <thead>
                                  <tr class="thead-tr-top">
                                      <td class="td-arrow-left" ng-click="previousMonth()">‹</td>
                                      <td colspan="5">{{month}} {{currentDate.getFullYear()}}</td>
                                      <td class="td-arrow-right" ng-click="nextMonth()">›</td>
                                  </tr>
                                  <tr class="thead-tr-bottom">
                                      <td>Пн</td>
                                      <td>Вт</td>
                                      <td>Ср</td>
                                      <td>Чт</td>
                                      <td>Пт</td>
                                      <td>Сб</td>
                                      <td>Вс</td>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr ng-repeat="v in testVar">
                                      <td ng-repeat="v1 in v" ng-bind="v1.name" ng-click="transferDate(v1.name)"
                                          ng-class="{'today':v1.current}"></td>
                                  </tr>
                                  </tbody>
                              </table>
                          </div>

                      </div>
                  </div>
              </div>
            </span>
          </div>
        </div>
        <div uib-accordion-group class="sort-panel panel-default" is-open="status.time">
          <uib-accordion-heading>
            Время
              <i class="pull-right filter-triangle glyphicon"
              ng-class="{'glyphicon-triangle-top': status.time, 'glyphicon-triangle-bottom': !status.time}"></i>

          </uib-accordion-heading>
          <div class="input-group panel-input">
            <input class="form-control" type="text" placeholder="" ng-model="sendSearchRequest.time"
                   ng-keyup="sendFilter($event)">
          </div>
        </div>

        <div uib-accordion-group class="sort-panel panel-default" is-open="status.lesson">
          <uib-accordion-heading>
            Предмет
              <i class="pull-right filter-triangle glyphicon"
              ng-class="{'glyphicon-triangle-top': status.lesson, 'glyphicon-triangle-bottom': !status.lesson}"></i>

          </uib-accordion-heading>
          <div class="filter-buttons">
            <div class="filter-button" ng-repeat="(id, name) in lesson" ng-click="sortByPeriod('lessonId', id)">
              <p>{{name}}</p>
            </div>
          </div>
        </div>

        <div uib-accordion-group class="sort-panel panel-default" is-open="status.class">
          <uib-accordion-heading>
            Учитель
              <i class="pull-right filter-triangle glyphicon"
              ng-class="{'glyphicon-triangle-top': status.class, 'glyphicon-triangle-bottom': !status.class}"></i>

          </uib-accordion-heading>
          <div class="filter-buttons">
            <div class="filter-button" ng-repeat="(id, name) in class" ng-click="sortByPeriod('lessonId', id)">
              <p>{{name}}</p>
            </div>
          </div>
        </div>
      </uib-accordion>


      <!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading1">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                Период
              </a>
              <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-top"></i></span>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
              <ul class="list-group">
                <li class="list-group-item" ng-click="sortByPeriod('periodId', 0)">Все</li>
                <li class="list-group-item" ng-click="sortByPeriod('periodId', 1)">Неделя</li>
                <li class="list-group-item" ng-click="sortByPeriod('periodId', 2)">Месяц</li>
                <li class="list-group-item" ng-click="sortByPeriod('periodId', 3)">Три месяца</li>
                <li class="list-group-item" ng-click="sortByPeriod('periodId', 4)">Полгода</li>
                <li class="list-group-item" ng-click="sortByPeriod('periodId', 5)">Год</li>
              </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading2">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                Дата
              </a>
              <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
              <div class="input-group panel-input">
                <input type="text" class="form-control" aria-describedby="basic-addon1"
                ng-model="sendSearchRequest.begin_ts">
                <span class="input-group-addon" id="basic-addon1">
                  <img ng-src="images/Icon/Ресурс 2icon2.png" alt="" />
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading4">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                Время
              </a>
              <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
            <div class="panel-body panel-input">
              <input class="form-control" type="text" placeholder="" ng-model="sendSearchRequest.time"
                     ng-keyup="sendFilter($event)">
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading5">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                Предмет
              </a>
              <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
            </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="(id, name) in lesson" ng-click="sortByPeriod('lessonId', id)">{{name}}</li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading6">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                Учитель
              </a>
              <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
            </h4>
          </div>
          <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="(id, name) in class" ng-click="sortByPeriod('classId', id)">{{name}}</li>
            </ul>
          </div>
        </div>

      </div> -->
    </div>
    <div class="col-xs-9">
      <table class="table">
        <thead>
          <th>
            #
          </th>
          <th>Дата</th>
          <th>Время</th>
          <th>Предмет</th>
          <th>Тема урока</th>
          <th>Учитель</th>
          <th>Статус</th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="schedule in schedules">
            <td>{{$index + 1}}</td>
            <td>{{schedule.begin_ts | dateFilter}}</td>
            <td>{{schedule.time}}</td>
            <td>{{schedule.lesson.lessonName}}</td>
            <td>Динамика 1</td>
            <td>{{schedule.user.firstName}} {{schedule.user.lastName}} {{schedule.user.patronymic}}</td>
            <td>{{schedule.state | stateLesson}}</td>
            <td><!-- Button trigger modal -->
              <button type="button" class="btn btn-info btn-sm" ui-sref="lesson.learner({id: schedule.id})" ng-hide="schedule.state == 3">
                {{schedule.state == 3 ? 'Закрыт' : 'Войти'}}
              </button>
              <button type="button" class="btn btn-primary btn-sm" ng-hide="schedule.state != 3">
                Закрыт
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
