<div ui-view="">
<div class="row">
  <div class="col-xs-3">


    <uib-accordion close-others="oneAtATime">
      <div uib-accordion-group class="sort-panel panel-default" is-open="status.date">
        <uib-accordion-heading>
          Дата
            <i class="pull-right filter-triangle glyphicon"
            ng-class="{'glyphicon-triangle-top': status.date, 'glyphicon-triangle-bottom': !status.date}"></i>

        </uib-accordion-heading>
        <div class="input-group panel-input">
          <input type="text" class="form-control" aria-describedby="basic-addon1"
          ng-model="sendSearchRequest.begin_ts"  ng-keyup="sendFilter($event)">
          <span class="input-group-addon" id="basic-addon1">
            <img ng-src="images/Icon/Ресурс 2icon2.png" alt="" />
          </span>
        </div>
      </div>
      <div uib-accordion-group class="sort-panel panel-default" is-open="status.lesson">
        <uib-accordion-heading>
          Предмет
            <i class="pull-right filter-triangle glyphicon"
            ng-class="{'glyphicon-triangle-top': status.lesson, 'glyphicon-triangle-bottom': !status.lesson}"></i>

        </uib-accordion-heading>
        <div class="filter-buttons">
          <div class="filter-button" ng-repeat="(id, name) in lesson" ng-click="sortByPeriod('lessonId', id)">
            <p>{{name}}</p>
          </div>
        </div>
      </div>
      <div uib-accordion-group class="sort-panel panel-default" is-open="status.topic">
        <uib-accordion-heading>
          Тема
            <i class="pull-right filter-triangle glyphicon"
            ng-class="{'glyphicon-triangle-top': status.topic, 'glyphicon-triangle-bottom': !status.topic}"></i>

        </uib-accordion-heading>
        <div class="input-group panel-input">
          <input class="form-control" type="text" placeholder="" ng-model="sendSearchRequest.topic"
                 ng-keyup="sendFilter($event)">
        </div>
      </div>

      <div uib-accordion-group class="sort-panel panel-default" is-open="status.users">
        <uib-accordion-heading>
          Учитель
            <i class="pull-right filter-triangle glyphicon"
            ng-class="{'glyphicon-triangle-top': status.users, 'glyphicon-triangle-bottom': !status.users}"></i>

        </uib-accordion-heading>
        <div class="filter-buttons">
          <div class="filter-button" ng-repeat="(id, name) in users" ng-click="sortByPeriod('userId', id)">
            <p>{{name}}</p>
          </div>
        </div>
      </div>



      <div uib-accordion-group class="sort-panel panel-default" is-open="status.class">
        <uib-accordion-heading>
          Класс
            <i class="pull-right filter-triangle glyphicon"
            ng-class="{'glyphicon-triangle-top': status.class, 'glyphicon-triangle-bottom': !status.class}"></i>

        </uib-accordion-heading>
        <div class="filter-buttons">
          <div class="filter-button" ng-repeat="(id, name) in class" ng-click="sortByPeriod('lessonId', id)">
            <p>{{name}}</p>
          </div>
        </div>
      </div>
    </uib-accordion>




    <!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading2">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
              Дата
            </a>
            <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading2">
          <div class="panel-body">
            <div class="input-group panel-input">
              <input type="text" class="form-control" aria-describedby="basic-addon1"
              ng-model="sendSearchRequest.begin_ts">
              <span class="input-group-addon" id="basic-addon1">
                <img ng-src="images/Icon/Ресурс 2icon2.png" alt="" />
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading5">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
              Предмет
            </a>
            <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="(id, name) in lesson" ng-click="sortByPeriod('lessonId', id)">{{name}}</li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading4">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
              Тема
            </a>
            <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
          <div class="panel-body panel-input">
            <input class="form-control" type="text" placeholder="" ng-model="sendSearchRequest.time"
                   ng-keyup="sendFilter($event)">
          </div>
        </div>
      </div>



      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading6">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
              Учитель
            </a>
            <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
          </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="(id, name) in users" ng-click="sortByPeriod('userId', id)">{{name}}</li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading8">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
              Класс
            </a>
            <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
          </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="(id, name) in class" ng-click="sortByPeriod('classId', id)">{{name}}</li>
          </ul>
        </div>
      </div>

    </div> -->
  </div>
  <div class="col-xs-9">
    <table class="table">
      <thead>
        <th>
          #
        </th>
        <th>Дата</th>
        <th>Предмет</th>
        <th>Тема</th>
        <th>Учитель</th>
        <th>Класс</th>
        <th>Файлы</th>
        <th>Теги</th>
      </thead>
      <tbody>
        <tr  ng-repeat="record in records">
          <td>{{$index + 1}}</td>
          <td>{{record.event_ts | dateFilter}}</td>
          <td>{{record.lesson.lessonName}}</td>
          <td>{{record.topic}}</td>
          <td>{{record.class.className}}</td>
          <td>{{record.user.firstName + ' ' + record.user.lastName + ' ' + record.user.patronymic}}</td>
          <td class="table-buttons">
            <!-- <div class="" ng-repeat="file in record.filelist.files"> -->
              <a ng-href="/images/upload/files/{{record.filelist.files[0].fileName}}" target="_self"
               download="{{record.filelist.files[0].sourceFileName}}"><img ng-src="images/Icon/Ресурс 5icon2.png" alt="" /></a>
            <!-- </div> -->
          </td>
          <td>{{record.tag}}</td>
          <td class="table-buttons">
            <button type="button" class="btn btn-info" name="button"
             ui-sref="records.view({id: record.id})">Просмотр</button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
