<div>
  <div class="lesson lesson-run lesson-answer">
    <div class="row top-info">
      <div class="top-btns-wrp pull-right">
        <span class="remaining">До окончания: 00:43</span>

        <div class="button-grey" ui-sref="lesson.pause">Приостановить</div>
        <div class="button-red" ui-sref="lesson.end">Завершить</div>
      </div>
    </div>
    <div class="row main-row">
      <div class="col-sm-4">
        <div class="section settings">
          <div class="mic">
            <i class="lesson-icon mic-icon"></i>

            <div class="bar mic-bar">
              <div class="bar-fill mic-progress"></div>
            </div>
          </div>
          <div class="volume">
            <i class="lesson-icon volume-icon"></i>

            <div class="bar volume-bar">
              <div class="bar-fill volume-progress">
                <i class="increaser-icon"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="section cams">
          <div class="cams-top">
            <span class="pull-left">Камеры</span>

            <!--<div class="button-grey pull-right unblocked"><span>Разблокировать</span></div>-->
          </div>
          <div class="cams-images">
            <div class="cams-main-img">
              <img src="/images/640.png" alt="preview"/>
            </div>
            <div class="cams-preview-imgs">
              <img src="/images/157.png" alt="little-preview"/>
              <img src="/images/157.png" alt="little-preview"/>
              <img src="/images/157.png" alt="little-preview"/>
              <img src="/images/157.png" alt="little-preview"/>
            </div>
          </div>
        </div>

        <div class="section student">
          <div class="cams-top student-top">
            <span class="pull-left">Ученик</span>

            <div class="button-grey pull-right"><span>Всем</span></div>
          </div>
          <div class="student-image">
            <img src="/images/cams-preview/1.jpg" alt="preview"/>
          </div>
        </div>
        <div class="section materials">
          <div class="cams-top materials-top">
            <span class="pull-left">Материалы</span>

            <div class="button-grey pull-right"><span>Добавить</span></div>
          </div>
          <div class="materials-main">
            <table class="materials-table">
              <tbody>
              <tr>
                <td><a href="#" class="word-icon">Название документа</a></td>
                <td class="download"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-4 center">
        <div class="section students">
          <div class="common-top students-top">
            <span>Ученики</span>

            <div class="common-top-btns">
              <div class="button-grey active">На уроке (2)</div>
              <div class="button-grey">Подняли руку (1)</div>
              <div class="button-grey">Отсутствуют (1)</div>
            </div>
          </div>

          <div class="students-list">
            <div class="student-list-item now-answer">
              <img src="/images/student-1.jpg" alt="student avatar"/>

              <div class="students-list-item-descr">
                <h5>Николай Тимофеев</h5>

                <div class="button-blue">Вызвать</div>
                <div class="button-green">Поднял руку</div>
              </div>
            </div>
            <div class="student-list-item">
              <img src="/images/student-2.jpg" alt="student avatar"/>

              <div class="students-list-item-descr">
                <h5>Надежда сидорова</h5>

                <div class="button-blue">Вызвать</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 right">
        <div class="section messages">
          <div class="common-top messages-top">
            <span>Сообщения</span>

            <div class="common-top-btns buttons-wrp">
              <div class="button-grey active">Все</div>
              <div class="button-grey">2 дня</div>
              <div class="button-grey">Неделя</div>
            </div>
          </div>
          <div class="button-green show-new-messages"><span>Показать новые сообщения (2)</span></div>
          <div class="messages-items">

            <div class="message-item">
              <p class="message-date"><span>20.04.2016</span><span>14:00</span></p>
              <h5 class="message-sender">Николай Тимофеев</h5>

              <p class="message-text">Здравствуйте</p>
            </div>
            <div class="message-item">
              <p class="message-date"><span>20.04.2016</span><span>14:00</span></p>
              <h5 class="message-sender">Николай Тимофеев</h5>

              <p class="message-text">Здравствуйте</p>
            </div>
            <div class="message-item">
              <p class="message-date"><span>20.04.2016</span><span>14:00</span></p>
              <h5 class="message-sender">Николай Тимофеев</h5>

              <p class="message-text">Здравствуйте</p>
            </div>
          </div>


          <!-- Ставить класс lot-of-messages если сообщений (div.message-item) больше 3 -->
          <div class="messages-send">
            <label for="write-message">Написать сообщение:</label>
            <textarea id="write-message"></textarea>

            <div class="button-grey">Отправить</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
