<div ui-view="" class="superadmin-users">

    <div class="user-page-top">
        <div class="button-green" ui-sref=".edit">Создать</div>
    </div>

    <div class="divtableoverflov">
        <table class="table-users" cellpadding="4" cellspacing="1">
            <tr class="table-users-trhead">
                <td class="tdfirst" ng-click="setSort('id')" ng-class="{'sort_asc':sortParams.id===1, 'sort_desc':sortParams.id===2}"><div>id</div></td>
                <td ng-click="setSort('introduce')" ng-class="{'sort_asc':sortParams.introduce===1, 'sort_desc':sortParams.introduce===2}"><div>КТО ВНЕДРЯЕТ:</div></td>
                <td ng-click="setSort('fio')" ng-class="{'sort_asc':sortParams.fio===1,'sort_desc':sortParams.fio===2}"><div>ФИО</div></td>
                <td ng-click="setSort('email')" ng-class="{'sort_asc':sortParams.email===1,'sort_desc':sortParams.email===2}"><div>E-MAIL</div></td>
                <td ng-click="setSort('phone')" ng-class="{'sort_asc':sortParams.phone===1,'sort_desc':sortParams.phone===2}"><div>ТЕЛЕФОН</div></td>
                <td ng-click="setSort('introduce')" ng-class="{'sort_asc':sortParams.introduce===1,'sort_desc':sortParams.introduce===2}"><div>КУДА ВНЕДРЯЕТ</div></td>
                <td ng-click="setSort('numberOfClasses')" ng-class="{'sort_asc':sortParams.numberOfClasses===1,'sort_desc':sortParams.numberOfClasses===2}"><div>КОЛ-ВО КЛАССОВ</div></td>
                <td class="tdlast">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="tdlast">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="tdlast">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr class="table-users-trtop">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="table-users-trtop-search">
                    <div>
                        <input type="text" ng-model="sendSearchRequest.introduce" ng-keyup="sendFilter($event)">
                    </div>
                </td>
                <td class="table-users-trtop-search">
                    <div>
                        <input type="text" ng-model="sendSearchRequest.name" ng-keyup="sendFilter($event)">
                    </div>
                </td>
                <td class="table-users-trtop-search">
                    <div>
                        <input type="text" ng-model="sendSearchRequest.email" ng-keyup="sendFilter($event)">
                    </div>
                </td>
                <td class="table-users-trtop-search">
                    <div>
                        <input type="text" ng-model="sendSearchRequest.phone" ng-keyup="sendFilter($event)">
                    </div>
                </td>
                <td class="table-users-trtop-search">
                    <div>
                        <input type="text" ng-model="sendSearchRequest.implementing" ng-keyup="sendFilter($event)">
                    </div>
                </td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="table-users-trbottom" ng-repeat="_user in userList">
                <td class="idcenter" ng-bind="_user.id">1</td>
                <td ng-bind="_user.introduce">ООО "РОГА и КОПЫТА"</td>
                <td>{{_user.firstName}} {{_user.lastName}} {{_user.patronymic}}</td>
                <td ng-bind="_user.email">info@domen.ru</td>
                <td ng-bind="_user.phone">+79995554444</td>
                <td ng-bind="_user.school.name">Школа №5</td>
                <td class="idcenter" ng-bind="_user.numberOfClasses">20</td>
                <td class="tdlast-magnifier" ui-sref=".view({id:_user.id})"></td>
                <td class="tdlast-pencil" ui-sref=".edit({id:_user.id})"></td>
                <td class="tdlast-cross" ng-click="showDeleteModal('пользователя', deleteUser, _user.id)"></td>
            </tr>


        </table>
    </div>

    <div class="user-page-bottom" ng-if="pagination.length > 1">
        <div class="button-number" ng-click="goPreviousPage()">&#60;</div>
        <div class="button-number" ng-repeat="pgBtn in pagination" ng-click="goToStatesSa(pgBtn.offset)">{{pgBtn.num + 1}}</div>
        <div class="button-number" ng-click="goNextPage()">&#62;</div>
    </div>

    <!--<div class="user-page-bottom">-->
        <!--<div class="button-number">&#60;</div>-->
        <!--<div class="button-number">1</div>-->
        <!--<div class="button-number">2</div>-->
        <!--<div class="button-number">3</div>-->
        <!--<div class="button-number">4</div>-->
        <!--<div class="button-number">&#62;</div>-->
    <!--</div>-->

</div>