.lessons-view {
  .add-buttons-wrp {
    @include clearfix();
    div {
      width: 47.5%;
    }
    .button-blue{
      border: 1px solid #2089cc;
      box-shadow: 0 2px 0 0 rgba(#000, .65);
      &:hover{
        border: none;
        line-height: 37px;
        color: #ffffff;
      }
    }
    .button-grey{
      //margin-left: 5%;
      margin-left: 0;
      border: 1px solid #caced8;
      box-shadow: 0 2px 0 0 rgba(#08283d, .45);
    }
  }
}