<div ui-view>
  <div class="margins-sides-15">
    <div class="row">
      <div class="lessons subjects">

        <div class="clearfix add-lesson">
          <div class="button-green common-green" ui-sref="schedule.add">Добавить урок</div>
        </div>

        <table class="table-common" cellpadding="4" cellspacing="1">
          <tr class="table-common-trhead">
            <td class="tdlast" ng-click="setSort('id')"
                ng-class="{'sort_asc':sortParams.id===1,'sort_desc':sortParams.id===2}">
              <div>id<img src="/images/upanddownarrows.png" ></div>
            </td>
            <td ng-click="setSort('topic')"
            ng-class="{'sort_asc':sortParams.topic===1,'sort_desc':sortParams.topic===2}">
              <div>Тема<img src="/images/upanddownarrows.png"></div>
            </td>
            <td>
              <div>Статус</div>
            </td>
            <td>
              <div>Кабинет</div>
            </td>
            <td>
              <div>Класс</div>
            </td>
            <td>
              <div>Предмет</div>
            </td>
            <td>
              <div>Преподаватель</div>
            </td>
            <td ng-click="setSort('duration')"
            ng-class="{'sort_asc':sortParams.duration===1,'sort_desc':sortParams.duration===2}">
              <div>Завершение через, в мин</div>
            </td>
            <td class="tdlast"></td>
          </tr>

          <tr class="table-common-trtop">
            <td class="table-common-trtop-search">

            </td>
            <td class="table-common-trtop-search">
              <div> <input type="text" placeholder="" ng-model="sendSearchRequest.topic"
                           ng-keyup="sendFilter($event)">
              </div>
            </td>
            <td class="table-common-trtop-search">
              <div> <input type="text" placeholder="" ng-model="sendSearchRequest.state"
                           ng-keyup="sendFilter($event)">
              </div>
            </td>
            <td class="table-common-trtop-search">
              <div> <input type="text" placeholder="" ng-model="sendSearchRequest.office"
                           ng-keyup="sendFilter($event)">
              </div>
            </td>
            <td class="table-common-trtop-search">
              <div> <input type="text" placeholder="" ng-model="sendSearchRequest.class"
                           ng-keyup="sendFilter($event)">
              </div>
            </td>
            <td class="table-common-trtop-search">
              <div> <input type="text" placeholder="" ng-model="sendSearchRequest.lesson"
                           ng-keyup="sendFilter($event)">
              </div>
            </td>
            <td class="table-common-trtop-search">
              <div> <input type="text" placeholder="" ng-model="sendSearchRequest.teacher"
                           ng-keyup="sendFilter($event)">
              </div>
            </td>
            <td></td>
            <td></td>
          </tr>

          <tr class="table-common-trbottom" ng-repeat="subject in schedules">
            <td class="idcenter">{{subject.id}}</td>
            <td>{{subject.topic}}</td>
            <td>{{subject.state | stateLesson}}</td>
            <td>{{subject.office.number}}</td>
            <td>{{subject.class.className}}</td>
            <td>{{subject.lesson.lessonName}}</td>
            <td>{{subject.user.firstName}} {{subject.user.lastName}} {{subject.user.patronymic}}</td>
            <td>{{subject.duration}}</td>
            <td></td>
          </tr>
        </table>
<!--<div class="aaa" ng-repeat="subject in schedules">{{subject}}</div>-->
        <div class="user-page-bottom" ng-if="pagination.length > 1">
          <div class="button-number">&#60;</div>
          <div class="button-number" ng-repeat="pgBtn in pagination" ng-click="goToState(pgBtn.offset)" ng-class="{ 'active' : pgBtn.active }">{{pgBtn.num + 1}}</div>
          <div class="button-number">&#62;</div>
        </div>
      </div>
    </div>
  </div>

</div>