<div class="inputclass" ng-init="showDropDown1=false">
  <div class="inputclass-top" ng-click="showDropDown1=!showDropDown1">

    <div ng-if="!objectOptions" class="inputclass-top-input" ng-bind="mod?mod:list[0]"></div>
    <div ng-if="objectOptions" class="inputclass-top-input" ng-bind="mod?showKeyByValue():list[0]"></div>

    <div class="inputclass-top-arrows"></div>
  </div>
  <div class="inputclass-bottom" ng-show="showDropDown1">
    <!--TODO: test for this directive (empty object, empty array, wrong value etc.-->

    <div ng-if="!objectOptions" ng-repeat="option in options" class="inputclass-bottom-in" ng-hide="mod==option"
         ng-click="editMod(option)">{{option}}
    </div>

    <div ng-if="objectOptions" ng-repeat="(key, value) in objectOptions" class="inputclass-bottom-in"
         ng-hide="mod==option"
         ng-click="editMod(key)">{{value}}
    </div>

  </div>
</div>

