<div class="col-sm-4">
    <div class="info" ng-show="showTheWindowOnSuccess">Данные сохранены</div>
    <form class="office-page">
        <h3>Создать кабинет:</h3>

        <div class="form-group">
            <label for="office-number">Номер кабинета:</label>
            <input type="text" class="form-control" id="office-number" ng-model="number">
        </div>

        <label>Название предмета кабинета:</label>
        <drop-down list="lesson" model="lessonId"></drop-down>
        <br>

        <label><input type="checkbox" ng-model="webCam">&nbsp;Транслировать веб-камеру</label>
        <br>
        <h3 class="office-cams" ng-show="qwe">Камеры:</h3>

        <div ng-repeat="nextNewCam in newCams" ng-init="nextNewCam.cameraId='Выберите камеру'">
            <div class="form-group cam-select-form">
                <span class="cam-name">Камера {{$index+1}}:</span>

                <div>Выберите существующую камеру:</div>
                <drop-down list="cameras" model="nextNewCam.cameraId"></drop-down>

                <div ng-hide="+nextNewCam.cameraId">
                    <div>Или создайте новую:</div>
                    <input type="text" class="form-control" ng-model="nextNewCam.camName"
                           placeholder="Введите название камеры">
                    <input type="text" class="form-control" id="office-cam-url" ng-model="nextNewCam.url_cam"
                           placeholder="Введите URL камеры">
                </div>

                <div ng-show="+nextNewCam.camNameSelected">URL камеры: {{camerasList[nextNewCam.camNameSelected].url}}</div>

            </div>
        </div>

        <!--{{newCams}}-->
        <div class="button-grey add-cam-btn" ng-click="addCam(); qwe=true">Подключить камеру</div>
        <br>

        <div>
            <div class="add-buttons-wrp">
                <div class="button-blue btns-margin-first" ng-click="createOffice()">Создать</div>
                <div class="button-green btns-margin-second" ng-click="saveAndContinue()">Создать и продолжить</div>
            </div>
        </div>

        <div class="button-grey" ui-sref="offices">Вернуться к списку</div>

    </form>
</div>