<div class="row common-note saved" ng-show="save">
    <i class="info-icon"></i>
    <span class="note-text">Изменения сохранены</span>
</div>
<div class="col-sm-4">
    <div class="office-data">
        <div class="office-info">
            <table>
                <tr>
                    <td>№ кабинета:</td>
                    <td>{{officeRow.number}}</td>
                </tr>
                <tr>
                    <td>Предмет:</td>
                    <td>{{lessonForCurrentClass.lessonName}}</td>
                </tr>
            </table>
        </div>

        <div class="cams-info">
            <h3>Камеры:</h3>
            <p ng-if="officeRow.webCam"><b>Веб-камера включена</b></p>
            <div ng-repeat="nexCam in camerasConnectedByCurrentOffice">
                <table>
                    <span class="cam-name">Камера {{$index+1}}:</span>
                    <tr>
                        <td>Название:</td>
                        <td>{{nexCam.name}}</td>
                    </tr>
                    <tr>
                        <td>URL:</td>
                        <td>{{nexCam.url}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <!--<div class="monitors-info">-->
        <!--<h3>Внешний экран</h3>-->
        <!--<table>-->
        <!--<tr>-->
        <!--<td>Название:</td>-->
        <!--<td>экран 1</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>URL:</td>-->
        <!--<td>...</td>-->
        <!--</tr>-->
        <!--</table>-->
        <!--</div>-->

        <div class="add-buttons-wrp office-buttons-wrp">
            <div class="button-grey" ui-sref="offices">Назад к списку</div>
            <div class="button-grey" ui-sref="offices.edit({id: officeId})">Редактировать</div>
        </div>
        <br>
    </div>
</div>
