<div class="lessons-create">
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="info" ng-show="showTheWindowOnSuccess">Данные сохранены</div>
      <form class="common-form">
        <div class="form-group">
          <label for="profile-last-name">Название:</label>
          <input type="text" id="profile-last-name" ng-model="lessonName"/>

          <label for="profile-name">Комментарий:</label>
          <input type="text" id="profile-name" ng-model="description"/>

          <div class="buttons-wrp">
            <div class="button-blue button-blue-common-form" ng-click="popo(true)">Сохранить</div>
            <div class="button-green button-green-common-form" ng-click="saveAndContinue()">Создать и продолжить</div>

          </div><br>
          <div class="button-grey" ui-sref="lessons">Назад к списку</div>

        </div>
      </form>
    </div>
  </div>
</div>

