<div class="lessons-view">
  <div class="row">
    <div class="col-md-4">
      <form class="common-form">
        <div class="form-group">
          <label for="profile-last-name">Название:</label>
          <input type="text" id="profile-last-name" value="{{lessonName}}" ng-model="lessonName"/>

          <label for="profile-name">Комментарий:</label>
          <input type="text" id="profile-name" value="{{description}}" ng-model="description"/>

          <div class="buttons-wrp">
            <div class="button-blue button-blue-common-form" ng-click="saveEditedLesson()">Сохранить</div>
            <div class="button-grey button-grey-common-form" ui-sref="lessons">Отменить</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
