<div class="lessons-view">
  <div class="row common-note saved" ng-show="save">
    <i class="info-icon"></i>
    <span class="note-text">Изменения сохранены</span>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="present">
        <table class="common-present-table">
          <tr class="present-table-row">
            <td class="present-table-name">Название:</td>
            <td class="present-table-value">{{lessonName}}</td>
          </tr>
          <tr class="present-table-row">
            <td class="present-table-name">Комментарий:</td>
            <td class="present-table-value">{{description}}</td>
          </tr>
        </table>
        <div class="add-buttons-wrp">
          <div class="button-blue present-button" ui-sref="lessons.edit({id:lessonId})">Редактировать</div>
          <div class="button-grey present-button" ui-sref="lessons">Назад к списку</div>
        </div>
      </div>
    </div>
  </div>
</div>