<div class="row">
    <div class="user-page">
        <div class="col-sm-12">
            <br>
            <div class="create-susseful" ng-show="classEditSucsessful">
                Изменения сохранены
            </div>
            <div class="row">
                <div class="classview-container-for-row">
                    <div class="col-sm-3 header-text header-container">НАЗВАНИЕ:</div>
                    <div class="col-sm-9">{{className}}</div>
                </div>
                <div class="classview-container-for-row">
                    <div class="col-sm-3 header-text header-container">КОММЕНТАРИЙ:</div>
                    <div class="col-sm-9">{{commentaries}}</div>
                </div>
                <div class="classview-container-for-row">
                    <div class="col-sm-3 header-text header-container">СПИСОК УЧЕНИКОВ:</div>
                    <div class="col-sm-9">
                        Сидорова Надежда Ивановна<br>
                        Тимофеев Николай Николаевич<br>
                        Сидорова Надежда Ивановна<br>
                        Тимофеев Николай Николаевич<br>
                        Сидорова Надежда Ивановна<br>
                        Тимофеев Николай Николаевич<br>
                    </div>
                </div>
                <form class="margin-left-15">
                    <div class="btns-container">
                        <a ui-sref="classes.edit"><div class="button-blue-login btns-margin-first">Редактировать</div></a>
                        <a ui-sref="classes"><div class="button-grey btns-margin-second">Назад к списку</div></a>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>