<div class="row">
    <div class="user-page">
        <div class="row common-note created" ng-show="createCl1">
            <i class="info-icon"></i>
            <span class="note-text">Класс {{createCl1}} создан</span>
        </div>
        <div class="col-sm-5">
            <form role="form">
                <div class="form-group create-form-container">
                    <div class="header-text header-container">
                        НАЗВАНИЕ:
                    </div>
                    <input class="form-control" ng-model="_createClass.className">
                </div>
                <br>
                <div class="form-group create-form-container">
                    <div class="header-text header-container">
                        КОММЕНТАРИЙ:
                    </div>
                    <input class="form-control" ng-model="_createClass.commentaries">
                </div>
                <div class="btns-container">
                        <div class="button-blue-login btns-margin-first" ng-click="createClass()" ui-sref="classes">Создать</div>
                    <a ui-sref="classes.create({newClass:'8A'})">
                        <div class="button-green btns-margin-second" ng-click="saveAndContinue()">Создать и продолжить</div>
                    </a>
                </div>
                <div class="btns-container">

                        <div class="button-grey btns-margin-third" ui-sref="classes">Назад к списку</div>

                </div>
            </form>


        </div>
    </div>
</div>