<div ui-view="">
    <div class="row">
        <div class="margins-sides-15">
            <div class="classes">
                <div class="row common-note created" ng-show="createCl">
                    <i class="info-icon"></i>
                    <span class="note-text">Класс {{createCl}} создан</span>
                </div>
                <br>
                <div class="button-green" ui-sref="classes.create({createCl:''})">Создать</div>
                <br><br>
                <!--таблица-->
                <div class="divtableoverflov">
                    <table class="table-users" cellpadding="4" cellspacing="1">
                        <tr class="table-users-trhead">
                            <td class="tdfirst" ng-click="setSort('id')"
                                ng-class="{'sort_asc':sortParams.id===1,'sort_desc':sortParams.id===2}">
                                <div>id</div>
                            </td>
                            <td ng-click="setSort('className')"
                                ng-class="{'sort_asc':sortParams.className===1,'sort_desc':sortParams.className===2}">
                                <div>Название</div>
                            </td>
                            <td ng-click="setSort('commentaries')"
                                ng-class="{'sort_asc':sortParams.commentaries===1,'sort_desc':sortParams.commentaries===2}">
                                <div>Комментарий</div>
                            </td>
                            <td class="tdlast">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td class="tdlast">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td class="tdlast">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr class="table-users-trtop">
                            <td>-</td>
                            <td class="table-users-trtop-search">
                                <div>
                                    <input type="text" ng-model="sendSearchRequest.name"
                                           ng-keyup="sendFilter($event)">
                                </div>
                            </td>
                            <td class="table-users-trtop-search">
                                <div>
                                    <input type="text" ng-model="sendSearchRequest.comment" ng-keyup="sendFilter($event)">
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="table-users-trbottom" ng-repeat="class in classList">
                            <td class="idcenter">{{class.id}}</td>
                            <td>{{class.className}}</td>
                            <td>{{class.commentaries}}</td>
                            <td class="tdlast-magnifier" ui-sref="classes.classview({id:class.id})"></td>
                            <td class="tdlast-pencil" ui-sref="classes.edit({id:class.id})"></td>
                            <td class="tdlast-cross" ng-click="showDeleteModal('класса', deleteClass, class.id)"></td>
                        </tr>

                    </table>
                    <div class="user-page-bottom" ng-if="pagination.length > 1">
                        <div class="button-number" ng-click="goPreviousPage()">&#60;</div>
                        <div class="button-number" ng-repeat="pgBtn in pagination" ng-click="goToPage(pgBtn.offset)" ng-class="{ 'active' : pgBtn.active }">
                            {{pgBtn.num + 1}}
                        </div>
                        <div class="button-number" ng-click="goNextPage()">&#62;</div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
</div>