<div class="edit-view" ui-view="">

    <div class="info" ng-show="editRecordSucsessful">Сообщение о том, что данные сохранены или изменены</div>

    <div class="edit-view-div">
        <div class="edit-view-div-left">Дата проведения:</div>
        <div class="edit-view-div-right">18.03.2016 в 15.00</div>
    </div>

    <div class="edit-view-div">
        <div class="edit-view-div-left">Продолжительность:</div>
        <div class="edit-view-div-right">45 мин. 20 сек.</div>
    </div>

    <div class="edit-view-div">
        <div class="edit-view-div-left">Предмет:</div>
        <div class="edit-view-div-right">Алгебра</div>
    </div>

    <div class="edit-view-div">
        <div class="edit-view-div-left">Тема урока:</div>
        <div class="edit-view-div-right">Название темы урока</div>
    </div>

    <div class="edit-view-div">
        <div class="edit-view-div-left">Класс:</div>
        <div class="edit-view-div-right">10А</div>
    </div>

    <div class="edit-view-div">
        <div class="edit-view-div-left">Преподаватель:</div>
        <div class="edit-view-div-right">Иванов Петр Сидорович</div>
    </div>

    <div class="edit-view-div">
        <div class="edit-view-div-left cabinet">Кабинет:</div>
        <div class="edit-view-div-right cabinet">24</div>
    </div>

    <div class="edit-view-div">
        <div class="edit-view-div-left cabinet">Можно удалять:</div>
        <div class="edit-view-div-right cabinet">

            <drop-down list="{0:'Да',1:'Нет'}" model="0"></drop-down>

            <!--<div class="inputclass" ng-init="showDropDown1=false">-->
                <!--<div class="inputclass-top" ng-click="showDropDown1=!showDropDown1">-->
                    <!--<div class="inputclass-top-input">Да</div>-->
                    <!--<div class="inputclass-top-arrows"></div>-->
                <!--</div>-->
                <!--<div class="inputclass-bottom" ng-show="showDropDown1">-->
                    <!--<div class="inputclass-bottom-in">Нет</div>-->
                <!--</div>-->
            <!--</div>-->

        </div>
    </div>

    <div class="edit-view-div">
        <div class="edit-view-div-left cabinet">Доступно всем:</div>
        <div class="edit-view-div-right cabinet">
            <form>
                <input type="checkbox">URL-просмотра:.........
            </form>
        </div>
    </div>

    <div class="edit-view-div">
        <div class="button-blue-login" ng-click="editRecordSucsessful=!editRecordSucsessful">
            <a title="Сохранить">Сохранить</a>
            <!--<a ui-sref="records.edit-view({editRecordSucsessful:'7770'})" title="Сохранить">Сохранить</a>-->
        </div>
        <div ui-sref="records" class="button-grey"><a title="Назад к списку">Отменить</a></div>
    </div>

</div>