<div ui-view="" class="records-page">


  <div class="row">
    <div class="col-xs-3">

      <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="sort-panel panel-default" is-open="status.date">
          <uib-accordion-heading>
            Дата
              <i class="pull-right filter-triangle glyphicon"
              ng-class="{'glyphicon-triangle-top': status.date, 'glyphicon-triangle-bottom': !status.date}"></i>

          </uib-accordion-heading>
          <div class="input-group panel-input">
            <input type="text" class="form-control" aria-describedby="basic-addon1"
            ng-model="sendSearchRequest.begin_ts" ng-keyup="sendFilter($event)">
            <span class="input-group-addon" id="basic-addon1">

              <img ng-src="images/Icon/Ресурс 2icon2.png" alt="" />
            </span>
          </div>
        </div>
        <div uib-accordion-group class="sort-panel panel-default" is-open="status.lesson">
          <uib-accordion-heading>
            Предмет
              <i class="pull-right filter-triangle glyphicon"
              ng-class="{'glyphicon-triangle-top': status.lesson, 'glyphicon-triangle-bottom': !status.lesson}"></i>

          </uib-accordion-heading>
          <div class="filter-buttons">
            <div class="filter-button" ng-repeat="(id, name) in lesson" ng-click="sortByPeriod('lessonId', id)">
              <p>{{name}}</p>
            </div>
          </div>
        </div>
        <div uib-accordion-group class="sort-panel panel-default" is-open="status.topic">
          <uib-accordion-heading>
            Тема
              <i class="pull-right filter-triangle glyphicon"
              ng-class="{'glyphicon-triangle-top': status.topic, 'glyphicon-triangle-bottom': !status.topic}"></i>

          </uib-accordion-heading>
          <div class="input-group panel-input">
            <input class="form-control" type="text" placeholder="" ng-model="sendSearchRequest.topic"
                   ng-keyup="sendFilter($event)">
          </div>
        </div>

        <div uib-accordion-group class="sort-panel panel-default" is-open="status.users">
          <uib-accordion-heading>
            Учитель
              <i class="pull-right filter-triangle glyphicon"
              ng-class="{'glyphicon-triangle-top': status.users, 'glyphicon-triangle-bottom': !status.users}"></i>

          </uib-accordion-heading>
          <div class="filter-buttons">
            <div class="filter-button" ng-repeat="(id, name) in user" ng-click="sortByPeriod('userId', id)">
              <p>{{name}}</p>
            </div>
          </div>
        </div>



        <div uib-accordion-group class="sort-panel panel-default" is-open="status.class">
          <uib-accordion-heading>
            Класс
              <i class="pull-right filter-triangle glyphicon"
              ng-class="{'glyphicon-triangle-top': status.class, 'glyphicon-triangle-bottom': !status.class}"></i>

          </uib-accordion-heading>
          <div class="filter-buttons">
            <div class="filter-button" ng-repeat="(id, name) in class" ng-click="sortByPeriod('classId', id)">
              <p>{{name}}</p>
            </div>
          </div>
        </div>

        <div uib-accordion-group class="sort-panel panel-default" is-open="status.tag">
          <uib-accordion-heading>
            Tеги
              <i class="pull-right filter-triangle glyphicon"
              ng-class="{'glyphicon-triangle-top': status.tag, 'glyphicon-triangle-bottom': !status.tag}"></i>

          </uib-accordion-heading>
          <div class="input-group panel-input">
            <input class="form-control" type="text" placeholder="" ng-model="sendSearchRequest.tag"
                   ng-keyup="sendFilter($event)">
          </div>
        </div>
      </uib-accordion>

      <!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Дата
              </a>
              <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-top"></i></span>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="collapse-area">
                <div class="input-group panel-input">
                  <input type="text" class="form-control" aria-describedby="basic-addon1"
                  ng-model="sendSearchRequest.begin_ts">
                  <span class="input-group-addon" id="basic-addon1">
                    <img ng-src="images/Icon/Ресурс 2icon2.png" alt="" />
                  </span>
                </div>
              </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading5">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                Предмет
              </a>
              <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
            </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="(id, name) in lesson" ng-click="sortByPeriod('lessonId', id)">{{name}}</li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading4">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                Тема
              </a>
              <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
            <div class="panel-body panel-input">
              <input class="form-control" type="text" placeholder="" ng-model="sendSearchRequest.topic"
                     ng-keyup="sendFilter($event)">
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading6">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                Учитель
              </a>
              <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
            </h4>
          </div>
          <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="(id, name) in user" ng-click="sortByPeriod('userId', id)">{{name}}</li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading6">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                Класс
              </a>
              <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
            </h4>
          </div>
          <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="(id, name) in class" ng-click="sortByPeriod('classId', id)">{{name}}</li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Tеги
              </a>
              <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body panel-input">
              <input class="form-control" type="text" placeholder="" ng-model="sendSearchRequest.tag"
                     ng-keyup="sendFilter($event)">
            </div>
          </div>
        </div>

      </div> -->
    </div>
    <div class="col-xs-9">
      <table class="table">
        <thead>
          <th>
            #
          </th>
          <th>Дата</th>
          <th>Предмет</th>
          <th>Тема</th>
          <th>Класс</th>
          <th>Учитель</th>
          <th>Файлы</th>
          <th>Теги</th>
        </thead>
        <tbody>
          <tr ng-repeat="record in records">
            <td>{{$index + 1}}</td>
            <td>{{record.event_ts | dateFilter}}</td>
            <td>{{record.lesson.lessonName}}</td>
            <td>{{record.topic}}</td>
            <td>{{record.class.className}}</td>
            <td>{{record.user.firstName + ' ' + record.user.lastName + ' ' + record.user.patronymic}}</td>
            <td class="table-buttons">
              <!-- <div class="" ng-repeat="file in record.filelist.files"> -->
                <a ng-href="/images/upload/files/{{record.filelist.files[0].fileName}}" target="_self"
                 download="{{record.filelist.files[0].sourceFileName}}"><img ng-src="images/Icon/Ресурс 5icon2.png" alt="" /></a>
              <!-- </div> -->
            </td>
            <td>{{record.tag}}</td>
            <td class="table-buttons">
              <img ng-src="images/Icon/1arxiv.png" alt=""
              class="tdlast-play" ui-sref="records.view({id: record.id})" />
              <img src="images/images/path5159.png" alt="" />
              <img src="images/images/path5139.png" alt="" data-toggle="modal" data-target="#myModal"/>
              <img src="images/images/path5159.png" alt="" />
              <img src="images/images/path5143.png" alt="" />
            </td>


              <!-- Modal -->
              <!-- Modal -->
              <div class="modal modal-form fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h3 class="modal-title text-center" id="myModalLabel">Редактировать данные об уроке </h3>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="row form-group">

                          <div class="col-xs-6">
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="12.05.2016" aria-describedby="basic-addon1"
                              ng-model="choosedSchedule.begin_ts">
                              <span class="input-group-addon" id="basic-addon1">
                                <img src="images/images/path4831-3.png" alt="" />
                              </span>
                            </div>
                          </div>

                          <div class="col-xs-6">
                            <select class="form-control" ng-model="choosedSchedule.lessonId">
                              <option ng-repeat="lesson in lessons" value="{{lesson.id}}">{{lesson.lessonName}}</option>
                            </select>
                            <!-- <select class="form-control">
                              <option>Физика</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select> -->
                          </div>

                        </div>

                        <div class="row form-group">
                          <div class="col-xs-6">
                            <input type="text" class="form-control" placeholder="12:30:00" aria-describedby="basic-addon1"
                            ng-model="choosedSchedule.time">
                          </div>
                          <div class="col-xs-6">
                            <select class="form-control" ng-model="choosedSchedule.classId">
                              <option ng-repeat="class in classes" value="{{class.id}}">{{class.className}}</option>
                            </select>
                          </div>
                        </div>
                          <div class="row form-group">
                            <div class="col-xs-6">
                              <input type="text" class="form-control" placeholder="45 мин" aria-describedby="basic-addon1"
                               ng-model="choosedSchedule.duration">
                            </div>
                            <div class="col-xs-6">
                              <select class="form-control">
                                <option>№34</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-xs-6">
                              <input type="text" class="form-control" placeholder="Термодинамика" aria-describedby="basic-addon1">
                            </div>
                            <div class="col-xs-6">
                              <input type="text" class="form-control" placeholder="Законы термодинамики" aria-describedby="basic-addon1">
                            </div>
                          </div>

                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">Можно удалять
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="">Доступно всем
                            </label>
                          </div>
                          <br>
                          <div class="flex-buttons">
                            <button type="button" class="btn btn-info" ng-click="editSchedule()" data-dismiss="modal">Сохранить</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                          </div>

                      </form>
                    </div>
                  </div>
                </div>
              </div>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
