<div class="records_view" ui-view="">

  <div class="row">
      <div class="col-xs-9">
        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">
                  <p>
                    КАМЕРА-КЛАСС
                  </p>
                </div>
              </div>
              <div class="panel-area">
                <div class="records_view-top-text-left-in-first-play-bigger-deploy">
                    <div id="mainScreen" ng-class="{'video-full':resize}">
                        <!--Выберите видео-->
                        <video class="minVideo" height="100%" width="100%" ng-click="swap($event)">
                            <source src="{{'/video/'+videos[0].name+'.mp4' | trustAsResourceUrl}}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                        </video>
                    </div>

                    <a title="Начать/остановить проигрывание видео" ng-click="playvideo()" ng-class="{'a-play-full':resize,'a-play':!resize,'a-stop':played}"></a>

                    <a class="a-in" title="Во весь экран" ng-click="videoResize()" ng-hide="resize"></a>
                    <a class="a-fullpage" title="Вернуться к просмотру записи" ng-click="videoResizeout()" ng-show="resize"></a>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-area">

            <div class="records_view-top-text-left-pbar" ng-class="{'records_view-top-text-left-pbar-full':resize}">

              <div class="records_view-top-text-left-in" ng-repeat="video in videos">
                  <div class="records_view-top-text-left-in-play-big">
                      <video class="minVideo" height="100%" width="100%" ng-click="swap($event)">
                          <source src="{{'/video/'+video.name+'.mp4' | trustAsResourceUrl}}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                      </video>
                  </div>
              </div>
              <!-- <div class="records_view-top-text-left-in-last-empty">
              </div> -->
              <div class="records_view-top-text-left-bottom">
                <div class="records_view-top-text-left-bottom-left">
                    <a title="Начать/остановить проигрывание видео" ng-click="playvideo()" ng-class="{'a-play-full':resize,'a-play':!resize,'a-stop':played}"></a>
                </div>

                <div id="videoRewind" class="records_view-top-text-left-bottom-center" ng-click="videoRewind($event)">
                  <div class="progressbar">
                    <div class="progressbar-play" ng-style="{'width':playWidth}"></div>
                  </div>
                </div>

                <div id="soundChange" class="records_view-top-text-left-bottom-right" ng-click="soundOff()">
                  <div class="progressSound">
                    <div class="progressSound-play" ng-click="$event.stopPropagation()">
                      <input type="range" ng-mousemove="changeVolume07($event)" ng-click="changeVolume07($event)" id="volume07" min="0" max="100" class="vertical" value="60">

                        <!--<div class="progressSound-play-grey" ng-click="soundChange($event)">-->
                            <!--<div class="progressSound-play-grey-blue" ng-click="soundChange($event)"></div>-->
                            <!--&lt;!&ndash;<div class="progressSound-play-grey-circle" ng-style="{'height':playHeight}" ng-click="soundChange($event)"></div>&ndash;&gt;-->
                        <!--</div>-->
                    </div>
                    <div class="vertical-external" >
                      <div class="vertical-external-in"></div>
                    </div>
                  </div>
                    <!--<div class="tracker" ng-click="soundTracker"></div>-->
                    <!--<input type="range" ng-mousemove="changeVolume07($event)" ng-click="changeVolume07($event)" id="volume07" min="0" max="100" class="vertical" value="60" data-range-orientation="vertical">-->
                </div>
              </div>

            </div>
            </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <p>
                ИНФО
              </p>
            </div>
          </div>
          <div class="panel-area">
            <div class="lesson-info">
              <table class="table">
                <tbody>
                  <tr>
                    <th>
                      Предмет:
                    </th>
                    <td>
                      {{info.lesson.lessonName}}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Тема:
                    </th>
                    <td>
                      {{info.topic}}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Учитель:
                    </th>
                    <td>
                      {{info.user.firstName+' '
                      +info.user.lastName+' '
                      +' '+info.user.patronymic}}
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Длительность:
                    </th>
                    <td>
                      {{}} мин.
                    </td>
                  </tr>
                  <tr>
                    <th>
                      До окончания:
                    </th>
                    <td>
                      0 мин. 0 сек.
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Статус:
                    </th>
                    <td>
                      Завершен
                    </td>
                  </tr>
                  <tr>
                    <th>
                      Теги:
                    </th>
                    <td>
                      {{info.tag}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <p>МАТЕРИАЛЫ
                <span class="float-right-icon">
                  <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length" ng-show="uploader.queue.length">
                      <span class="glyphicon glyphicon-upload"></span> Загрузить файлы
                  </button>
                <img ng-if="role === 3" onclick="$('#selectFile').click();" ng-click="b=true"
                 ng-src="images/Icon/Ресурс 3icon.png" alt="" />
              </span>
              </p>
            </div>
          </div>

          <div class="panel-area">
            <div class="attachments">
              <div class="attachment" ng-repeat="row in filelist">
                <div class="attach-img">
                  <a ng-href="/images/upload/files/{{row.fileName}}" target="_self"
                   download="{{row.sourceFileName}}">
                    <img ng-src="images/Icon/Ресурс 14icon2.png" alt="" />
                  </a>
                </div>
                <div class="attach-info">
                  <div class="attach-title">
                    <a ng-href="/images/upload/files/{{row.fileName}}" target="_self"
                     download="{{row.sourceFileName}}">
                      {{row.sourceFileName}}
                    </a>
                  </div>
                  <div class="attach-buttons">
                    <a ng-href="/images/upload/files/{{row.fileName}}" target="_self"
                     download="{{row.sourceFileName}}">
                     <img ng-src="images/Icon/Ресурс 5icon2.png" alt="" />
                   </a>
                    <img ng-if="role == 3" src="/images/images/path5143.png" alt="" />
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <p>ДОМАШНЕЕ ЗАДАНИЕ <span class="float-right-icon">
                <button ng-if="role == 3" type="button" class="btn btn-info" name="button">Просмотреть</button>
                <button ng-if="role == 4" type="button" class="btn btn-info" name="button">Выполнить</button>
              </span></p>
            </div>
          </div>

          <div class="panel-area">
            <div class="homeworks">
              <div class="task">
                <div class="row">
                  <div class="col-xs-3">
                    <div class="task-info">
                      <div class="task-title">
                        <strong>
                          Задание №1 - Решить задачу
                        </strong>
                        <p>
                          <small>
                            Задача на первый закон термодинамики
                          </small>
                        </p>

                      </div>
                    </div>

                  </div>
                  <div class="col-xs-9">
                    <div class="task-description">
                      <small class="">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </small>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="uploadFiles">

        <div class="buttonsForUploadFiles">
            <input id="selectFile" type="file" nv-file-select="" uploader="uploader" ng-hide="true" multiple  /><br/>
        </div>
    </div>
    </div>
