<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socrat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body ng-controller="Main">
  <base href="/" />
  <div class="container wrapper">
    <div class="language-button-container">
      <div class="btn-group language-button" uib-dropdown is-open="status.isopen" ng-cloak>
        <button id="single-button" type="button" class="btn btn-primary"
         uib-dropdown-toggle ng-disabled="disabled" >
           <i class="glyphicon glyphicon-globe"></i>
            <span class="language-button-selected">{{selectedLang | uppercase}}</span>
              <i class="triangle glyphicon" ng-class="{'glyphicon-triangle-bottom': !status.isopen, 'glyphicon-triangle-top': status.isopen}"></i>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
          <li class="divider"></li>
          <li role="menuitem" ng-repeat="lang in languages" ng-click="selectLanguage(lang.key)">
            <a href="#"> {{lang.title}} &nbsp&nbsp<span class="language-abbr">({{lang.key | uppercase}})</span></a>
          </li>
        </ul>
        <ul class="language-button-bottom">
        </ul>
      </div>
    </div>

      <header class="">
        <!-- <div id = "debug" ng-show="debug.length">
            <span class="debugTarget" ng-class="{'debugTarget-show':debugShow}" ng-click="debugShow = !debugShow" >debug</span>
            <div class="debugBody">
                <div ng-repeat="dbg in debug" ng-show="debugShow">
                    <div class="debugTitle" ng-click="dbg.show = !dbg.show"><b>{{$index}}:{{dbg.title}}</b></div>
                    <pre class="debugData" ng-show="dbg.show">{{dbg.data | json}}</pre>
                </div>
            </div>
        </div> -->
        <div class="row">
          <div class="col-xs-1 logo">
            <img ng-src="images/logo.png" alt="" />
          </div>
        <h1 class="col-xs-7"></h1>
        <nav class="col-xs-4 header-buttons">

          <div class="header-button">
              <img ng-src="images/images/path4847.png" alt="" />
              <p class="text-center">ПРОФИЛЬ</p>
          </div>
          <div class="header-button">
              <img ng-src="images/images/path4821.png" alt="" />
              <p class="text-center">ОПОВЕЩЕНИЕ</p>
          </div>
          <div class="header-button" ng-click="logout()">
              <img ng-src="images/images/path4797.png" alt="" />
              <p class="text-center">ВЫЙТИ</p>
          </div>
        </nav>
      </div>
      </header>
      <div class="main" ng-cloak>
        <nav class="navbar navbar-default header-navbar" ng-if="role === 2">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse fix-header-socrat" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">

                                    <li class="li-big visible-lg-block"><div class="button-blue-header" ui-sref="users">Пользователи</div></li>
                                    <li class="li-big visible-md-block"><div class="button-blue-header" ui-sref="users">Пользователи</div></li>
                                    <li class="li-big visible-sm-block"><div class="button-blue-header" ui-sref="users">Пользователи</div></li>
                                    <li class="li-small visible-xs-block"><div class="button-blue-header-small " ui-sref="users">Пользователи</div></li>

                                    <li class="li-big visible-lg-block"><div class="button-blue-header" ui-sref="offices">Кабинеты</div></li>
                                    <li class="li-big visible-md-block"><div class="button-blue-header" ui-sref="offices">Кабинеты</div></li>
                                    <li class="li-big visible-sm-block"><div class="button-blue-header" ui-sref="offices">Кабинеты</div></li>
                                    <li class="li-small visible-xs-block"><div class="button-blue-header-small" ui-sref="offices">Кабинеты</div></li>

                                    <li class="li-big visible-lg-block"><div class="button-blue-header" ui-sref="classes">Классы</div></li>
                                    <li class="li-big visible-md-block"><div class="button-blue-header" ui-sref="classes">Классы</div></li>
                                    <li class="li-big visible-sm-block"><div class="button-blue-header" ui-sref="classes">Классы</div></li>
                                    <li class="li-small visible-xs-block"><div class="button-blue-header-small" ui-sref="classes">Классы</div></li>

                                    <li class="li-big visible-lg-block"><div class="button-blue-header" ui-sref="lessons">Предметы</div></li>
                                    <li class="li-big visible-md-block"><div class="button-blue-header" ui-sref="lessons">Предметы</div></li>
                                    <li class="li-big visible-sm-block"><div class="button-blue-header" ui-sref="lessons">Предметы</div></li>
                                    <li class="li-small visible-xs-block"><div class="button-blue-header-small" ui-sref="lessons">Предметы</div></li>

                                    <li class="li-big visible-lg-block"><div class="button-blue-header" ui-sref="subjects">Уроки</div></li>
                                    <li class="li-big visible-md-block"><div class="button-blue-header" ui-sref="subjects">Уроки</div></li>
                                    <li class="li-big visible-sm-block"><div class="button-blue-header" ui-sref="subjects">Уроки</div></li>
                                    <li class="li-small visible-xs-block"><div class="button-blue-header-small" ui-sref="subjects">Уроки</div></li>

                                    <li class="li-big visible-lg-block"><div class="button-blue-header" ui-sref="records">Записи</div></li>
                                    <li class="li-big visible-md-block"><div class="button-blue-header" ui-sref="records">Записи</div></li>
                                    <li class="li-big visible-sm-block"><div class="button-blue-header" ui-sref="records">Записи</div></li>
                                    <li class="li-small visible-xs-block"><div class="button-blue-header-small" ui-sref="records">Записи</div></li>

                                </ul>
                                <!--<ul class="nav navbar-nav">-->
                                    <!--<li><div class="button-blue visible-sm-block visible-xs-block" ui-sref="users">Пользователи_small</div></li>-->
                                    <!--<li><div class="button-blue visible-sm-block visible-xs-block" ui-sref="offices">Кабинеты_small</div></li>-->
                                    <!--<li><div class="button-blue visible-sm-block visible-xs-block" ui-sref="classes">Классы_small</div></li>-->
                                    <!--<li><div class="button-blue visible-sm-block visible-xs-block" ui-sref="lessons">Предметы_small</div></li>-->
                                    <!--<li><div class="button-blue visible-sm-block visible-xs-block" ui-sref="subjects">Уроки_small</div></li>-->
                                    <!--<li class="button-blue-last" ><div class="button-blue button-blue-last visible-sm-block visible-xs-block" ui-sref="records">Записи_small</div></li>-->
                                <!--</ul>-->
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
        <div class="main-buttons" ng-if="role === 3">
          <a ng-href="/schedule">
            <div class="main-button" ng-class="{'main-button-active': urlName == 'schedule' || urlName == 'lesson'}">
              <img ng-src="images/images/path4831.png" alt="" />
              <p class="text-center">РАСПИСАНИЕ</p>
            </div>
          </a>
          <div class="main-button">
            <img ng-src="images/images/path174.png" alt="" />
            <p class="text-center">ВЕБИНАРЫ</p>
          </div>
          <a ng-href="/records">
            <div class="main-button"  ng-class="{'main-button-active': urlName == 'records' || urlName == 'records.view'}">
            <img ng-src="images/images/path4825.png" alt="" />
            <p class="text-center">АРХИВ</p>
          </div>
        </a>
          <div class="main-button">
            <img ng-src="images/images/g4747.png" alt="" />
            <p class="text-center">ЗАДАНИЯ</p>
          </div>
        </div>

        <div class="main-buttons" ng-if="role === 4">
          <a ng-href="/lesson/lessonschedule">
            <div class="main-button" ng-class="{'main-button-active': urlName == 'lesson.lessonschedule' || urlName == 'lesson.learner'}">
              <img ng-src="images/images/path4831.png" alt="" />
              <p class="text-center">РАСПИСАНИЕ</p>
            </div>
          </a>
            <div class="main-button">
              <img ng-src="images/images/g4747.png" alt="" />
              <p class="text-center">ЗАДАНИЯ</p>
            </div>

          <a ng-href="/lesson/lessonrecords">
            <div class="main-button" ng-class="{'main-button-active': urlName == 'lesson.lessonrecords' || urlName == 'records.view'}">
              <img ng-src="images/images/path4825.png" alt="" />
              <p class="text-center">АРХИВ</p>
            </div>
          </a>
            <div class="main-button">
            </div>

        </div>


        <div class="">
          <div class="" id="mainContainer" ui-view="">

          </div>
          <div class="modals">
        <div id="userDelete" class="modal">
            <div class="modal-dialog">
                <div class="delete-user">
                    <div class="modal-body">
                        <div class="custom-cross" data-dismiss="modal"></div>
                        <p>Подвердите удаление {{delTitle}}</p>
                    </div>
                    <div class="modal-footer">
                        <div class="delete-user-in-button-delete" data-dismiss="modal" ng-click="deleteLink()">Удалить</div>
                        <div class="delete-user-in-button-cancel" data-dismiss="modal">Отмена</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        </div>
      </div>



    </div>

        <script src="/javascripts/require.js" data-main="/javascripts/main.js"></script>

</body>
</html>
