.subjects {
  margin-top: 40px;
  .table-common-trhead{
    vertical-align: bottom;
  }
  .table-common-trbottom{
    td{
      text-align: center;
      &:nth-child(2){
        text-align: left;
        width: 160px;
      }
      &:nth-child(3){
        width: 80px;
      }
      &:nth-child(4){
        width: 90px;
      }
      &:nth-child(5){
        width: 140px;
      }
      &:nth-child(6){
        width: 160px;
      }
      &:nth-child(7){
        width: 180px;
        text-align: left;
      }

    }

  }
}