.classes-button-margins{
  margin-left: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}
.classview-container-for-row {
  padding-bottom: 20px;
  padding-top: 20px;
  &-header{
    font-weight: bold;
    margin-bottom: 10px;
  }
  &-btns{
    margin-top: 20px;
  }
}
.btns-margin-first{
  margin-right: 20px;
  //margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 20px;
  float: left;
}
.btns-margin-second{
  margin-right: 10px;
  //margin-left: 10px;
  //margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}
.btns-margin-third{
  margin-right: 0px;
  margin-left: 0;
  margin-bottom: 20px;
  float: left;
}
.btns-container{
  @include clearfix;
}

.header-container{
  margin-top: 15px;
  margin-bottom: 5px;
  color: #6c6e78;
  .header-text{
    font-family: "Arial";
  }
}
.margin-left-15{
  margin-left: 15px
}
.pass-form-minus-button{
  width: calc(100% - 140px) !important;
  //max-width: 100%;
  //width: 100%;
  //margin-left: 123px;
}


