.common-page {
  &-top {
    padding: 30px 0 68px 0;
    font: {
      size: 14px;
    }
  }
  &-bottom {
    margin-top: 15px;
  }
}

.table-common {
  width: 100%;
  text-align: center;
  td {
    height: 44px;
    border: 1px solid #f5f5f5;
    border-collapse: collapse;
    padding: 0 0 0 6px;
  }
  &-trhead {
    text-transform: uppercase;
    color: #7a7e89;
    background-image: url(/images/grey-background.png);
    td {
      border: none;
      cursor: pointer;
      padding: 5px 0 5px 6px;
      &:hover {
        background-image: none;
        background-color: #d9dbe1;
      }
      &.arrows {
        &:after{
          content: url(/images/upanddownarrows.png);
          margin-left: 5px;
        }
        &:hover{
          &:after{
            content: url(/images/upanddownarrows-hover.png);
            margin-left: 5px;
          }
        }
      }
      div{
        display: inline-block;
      }
      img {
        cursor: pointer;
        margin-left: 5px;
      }
    }
  }
  &-trtop {
    background: #9da0a8;
    &-search {
      padding: 0px !important;
      div {
        margin: 0 8px;
        &:before {
          background: #696d77 none repeat scroll 0 0;
          content: url(/images/icon-search.png);
          display: block;
          height: 29px;
          padding: 7px 0 0 7px;
          position: absolute;
        }
        img {
          background: #696d77;
          height: 29px;
          padding: 7px 0px;
          width: 10%;
        }
        input {
          font-family: 'Glyphicons Halflings';;
          border: 0;
          color: #efeff0;
          background: #696d77;
          height: 29px;
          padding: 0 8px 0 25px;
          width: 100%;
          /*&:before {
            content: url(/images/icon-search.png) no-repeat;
            height: 29px;
            width: 90px;
          }*/
        }
      }
    }
  }
  &-trbottom {
    background: white;
    cursor: pointer;
    &:hover{
      background: #eff1f5;
    }
  }
  .tdlast {
    width: 44px;
    &-magnifier {
      background: url(/images/magnifier.png) no-repeat;
      background-position: center center;
      cursor: pointer;
      &:hover{
        background: url(/images/magnifier-hover.png) center center no-repeat;
      }
    }
    &-pencil {
      background: url(/images/pencil.png) no-repeat;
      background-position: center center;
      cursor: pointer;
      &:hover{
        background: url(/images/pencil-hover.png) center center no-repeat;
      }
    }
    &-cross {
      background: url(/images/cross.png) no-repeat;
      background-position: center center;
      cursor: pointer;
      &:hover{
        background: url(/images/cross-hover.png) center center no-repeat;
      }
    }
  }
  .idcenter {
    text-align: center;
  }
}

.present {
  margin-top: 40px;

  .common-present-table {
    td {
      width: 50%;
    }
    .present-table-name {
      font-family: $fontRobotoRegular;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 36px;
      color: #7a7e89;
    }
    .present-table-value {
      font-family: $fontRobotoRegular;
      font-size: 14px;
      line-height: 36px;
      color: #30363c;

      //show password
      &:last-child {
        position: relative;
        .show-password {
          font-family: $fontRobotoRegular;
          font-size: 12px;
          color: #414450;
          border: 1px solid #caced8;
          box-shadow: inset 0 1px 0 rgba(#caced8, .33),
          0 1px 0 rgba(#08283d, .35);
          position: absolute;
          margin-left: 0;
          right: -170px;
          line-height: 29px;
          bottom: 5px;
        }
      }
    }
  }

  .present-button {
    margin-top: 25px;
    line-height: 35px;
    margin-left: 0;
    width: 159px;
    box-shadow: inset 0 1px 0 0 rgba(#fff, .33);
  }
}

.common-form {
  input[type="text"] {
    width: 100%;
    padding: 5px;
    color: $colorDarkGreyText;
    font-family: $fontRobotoRegular;
    font-size: 14px;
    border: $commonInputBorder;

    @include placeholder-style {
      color: $colorDarkGreyText;
      font-family: $fontRobotoRegular;
      font-size: 14px;
    }
  ;
  }
  label {
    display: block;
    font-family: $fontRobotoRegular;
    font-size: 12px;
    color: $colorLightGreyText;
    text-transform: uppercase;
    margin: 30px 0 0 0;
  }

  .buttons-wrp {
    @include clearfix();
    margin-top: 30px;

    div {
      margin-left: 0;
      width: 47.5%;
      font-family: $fontRobotoRegular;
      font-size: 14px;
      color: #ffffff;
      border: 1px solid #2089cc;
    }
  }
  div.button {
    &-blue{
      &:hover{
        border: 1px solid #07466f;
      }
    }
    &-grey {
      &-common-form {
        border: 1px solid #caced8;
        color: $colorDarkGreyText;
        margin-left: 5%;
        box-shadow: inset 0 1px 0 rgba(#caced8, .33),
        0 1px 0 rgba(#08283d, .35);
        float: right;
      }
    }
    &-green {
      &-common-form {
        border: 1px solid #189876;
        color: #ffffff;
        margin-left: 5%;
        float: right;
      }
    }
  }
}

.common-green {
  border: 1px solid #189876;
  color: #ffffff;
  box-shadow: 0 1px 0 0 rgba(#000, .35);
}

.common-note {
  background-color: #ffffff;
  font-family: $fontRobotoRegular;
  font-size: 12px;
  color: #3cb878;
  box-shadow: 0 1px 0 1px rgba(#e1e6ea, .75);
  border-radius: 5px;
  line-height: 50px;
  margin-top: 30px;
  span {
    margin-left: 5px;
  }
  i {
    position: relative;
    top: 2px;
    margin-left: 30px;
    content: url(/images/icon-info.png);
  }
}

.common-select {
  display: block;
  margin: 10px 0;
  height: 40px;
  background-color: #eeeeee;
  border: none;
}

.common-light-select-wrp {
  display: inline-block;
  position: relative;
}

.common-light-select-drop {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  display: block;
  background-image: url(/images/upanddownarrows.png);
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: 11px 11px;
}

.common-light-select {
  height: 30px;
  background-color: #ffffff;
  padding: 5px 20px 5px 5px;

}



