body{
  background-color: whitesmoke;
  background-image: url(/images/grey-background.png);
}
#debug{
  position: fixed;
  min-width: 100px;
  z-index: 999;
  height: 100%;
  .debugBody{
    max-height: calc(100% - 23px);
    overflow: auto;
  }
  .debugTarget{
    color: red;
    cursor: pointer;
    &:after{
      content: " [+]";
    }
    &-show:after{
      content: " [\2043]";
    }
  }
  .debugTitle{
    background: black;
    color:white;
    cursor: pointer;
    border-bottom: 1px solid gray;
  }
  .debugData{
    padding: 3px;
    margin-bottom: 3px;
    border-radius: 0;
  }
}
.navbar{
  z-index: 1;
  margin: 0;
  &-black{
    z-index: 1;
    background: linear-gradient(to right, #2c2d32, #3f4249, #2c2d32);
    color: #fff;
  }
  &-blue{
    z-index: 1;
    background: linear-gradient(to top, #0c639a, #2c83bb);
    color: #fff;
  }
  &-gray{
    z-index: 1;
    background: #d4d7df;
    color: #40434f;;
  }
}
.container-fluid{
  max-width: 1030px;
}

.button-blue {
  background: #268fd2;
  background: linear-gradient(to top, #147cbf, #64b9ef);
  border-radius: 3px;
  box-shadow: 0 0 1px #189876;
  color: white;
  cursor: pointer;
  margin-left: 9px;
  float: left;
  line-height: 38px;
  text-align: center;
  user-select: none;
  &-small {
    background: #268fd2;
    background: linear-gradient(to top, #147cbf, #64b9ef);
    border-radius: 3px;
    box-shadow: 0 0 1px #189876;
    color: white;
    cursor: pointer;
    margin-left: 9px;
    float: left;
    line-height: 38px;
    text-align: center;
    user-select: none;
    width: 100%;
  }
  &:hover {
    background: #07466f;
    color: #5f99bf;
  }
  &-login {
    background: linear-gradient(to top, #147cbf, #64b9ef);
    border-radius: 3px;
    box-shadow: 0 0 1px #189876;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    float: left;
    line-height: 38px;
    text-align: center;
    width: 159px;
    &:active {
      background: linear-gradient(to top, #64b9ef, #147cbf);
      user-select: none;
    }
  }
}

.button-blue-header {
  background: #268fd2;
  background: linear-gradient(to top, #147cbf, #64b9ef);
  border-radius: 3px;
  box-shadow: 0 0 1px #189876;
  color: white;
  cursor: pointer;
  margin-left: 9px;
  //margin-left: 14px;
  float: left;
  line-height: 38px;
  text-align: center;
  user-select: none;
  width: 95% !important;
  &-small {
    background: #268fd2;
    background: linear-gradient(to top, #147cbf, #64b9ef);
    border-radius: 3px;
    box-shadow: 0 0 1px #189876;
    color: white;
    cursor: pointer;
    margin-left: 9px;
    //margin-left: 14px;
    float: left;
    line-height: 38px;
    text-align: center;
    user-select: none;
    width: 100%;
  }
  &:hover {
    background: #07466f;
    color: #5f99bf;
  }
  &-login {
    background: linear-gradient(to top, #147cbf, #64b9ef);
    border-radius: 3px;
    box-shadow: 0 0 1px #189876;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    float: left;
    line-height: 38px;
    text-align: center;
    width: 159px;
    &:active {
      background: linear-gradient(to top, #64b9ef, #147cbf);
      user-select: none;
    }
  }
}

.button-green {
  background: linear-gradient(to top, #189876, #50c5a5);
  border-radius: 3px;
  box-shadow: 0 0 1px #189876;
  color: white;
  cursor: pointer;
  float: left;
  line-height: 38px;
  text-align: center;
  width: 159px;
  user-select: none;
  &:active {
    background: linear-gradient(to top, #50c5a5, #189876);
  }
}

.button-grey {
  background: linear-gradient(to top, #caced8, #e8eaef);
  border-radius: 3px;
  box-shadow: 0 0 1px #caced8;
  color: #40434f;
  cursor: pointer;
  float: left;
  line-height: 38px;
  //margin-left: 9px;
  text-align: center;
  width: 159px;
  user-select: none;
  &:active {
    background: linear-gradient(to top, #e8eaef, #caced8);
  }
}

.button-come {
  width: auto;
}

.button-come-learner {
  width: 100% !important;
}

.button-learner-avatar {
  width: 200px;
}

.button-red {
  background: #d01f09;
  border-radius: 3px;
  box-shadow: 0 0 1px #5a0e04;
  color: #ffcdc7;
  cursor: pointer;
  line-height: 35px;
  text-align: center;
  width: 109px;
  &:hover {
    background: #c61c06;
  }
}

.button-name {
  height: 35px;
  float: right;
  &:before {
    background: #212228 none repeat scroll 0 0;
    border-radius: 5px;
    content: url(/images/icon-person.png);
    display: block;
    min-height: 35px;
    padding: 10px 0 0 15px;
    position: absolute;
  }
  div {
    font-family: "Glyphicons Halflings";
    border: 0;
    border-radius: 5px;
    color: #cbced6;
    background: #212228;
    min-height: 35px;
    padding: 6px 8px 0 40px;
    padding: 3px 8px 3px 40px;
    //width: 350px;
    display: inline-block;
    &:hover {
      color: #d4d7df;
      cursor: pointer;
      background: linear-gradient(to top, #393a41, #4a4b54);
      // padding: 3px 8px 3px 40px;
      &:before {
        background: linear-gradient(to top, #393a41, #4a4b54);
        background-position: center center;
        border-radius: 5px;
        content: url(/images/icon-person.png);
        display: block;
        height: 35px;
        margin: -3px 0 0 -40px;
        padding: 8px 0 0 15px;

        position: absolute;
        width: 35px;
      }
    }
  }
  input {
    font-family: "Glyphicons Halflings";
    border: 0;
    border-radius: 5px;
    color: #cbced6;
    background: #212228;
    height: 35px;
    padding: 0 8px 0 40px;
    width: 100%;
  }
}

.button-number {
  background: linear-gradient(to top, #caced8, #e8eaef);
  border-radius: 3px;
  box-shadow: 0 0 1px #caced8;
  color: #40434f;
  cursor: pointer;
  float: left;
  line-height: 28px;
  margin-left: 5px;
  text-align: center;
  width: 28px;
  user-select: none;
  &:active,&.active {
    background: linear-gradient(to top, #e8eaef, #caced8);
  }
}

.button-number-active {
  // background: linear-gradient(to top, #e8eaef, #caced8);
  background: pink;
}

.button-showpassword {
  background: linear-gradient(to top, #caced8, #e8eaef);;
  border-radius: 3px;
  box-shadow: 0 0 1px #caced8;
  color: #40434f;
  cursor: pointer;
  float: left;
  line-height: 30px;
  margin-left: 5px;
  text-align: center;
  width: 131px;
  user-select: none;
  &:active {
    background: linear-gradient(to top, #e8eaef, #caced8);
  }
}

.button-circle {
  &-play {
    background: url(/images/play-big.png);
    cursor: pointer;
    float: left;
    height: 30px;
    margin-left: 5px;
    width: 30px;
  }
  &-stop {
    background: url(/images/stop-big.png);
    cursor: pointer;
    float: left;
    height: 30px;
    margin-left: 5px;
    width: 30px;
  }
}

.button-volume {
  &-small {
    background: url(/images/volume-small.png);
    cursor: pointer;
    float: left;
    height: 27px;
    margin-left: 5px;
    width: 27px;
  }
  &-big {
    background: url(/images/volume-big.png);
    cursor: pointer;
    float: left;
    height: 107px;
    margin-left: 5px;
    width: 27px;
  }
}

.create-susseful{
  //margin: 15px;
  width: 100%;
  color: #17a880;
  background: #fcfdfd;
  padding: 7px;
  padding-left: 45px;
  border: solid;
  border-width: 1px;
  border-color: #d3d6de;
  border-radius: 0px;
  background-image: url("../images/icon_info_green.png");
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 9px;
}

.delete-user {
  background: white;
  height: 150px;
  width: 320px;
  &-in {
    padding: 34px;
    text-align: center;
    background: url(/images/cross-hover.png) no-repeat;
    background-position: top right;
    &-text {
      float: left;
      width: 100%;
    }
    &-button-delete {
      margin-top: 20px;
      line-height: 38px;
      float: left;
      width: 121px;
      background: #d01f09;
      border-radius: 3px;
      box-shadow: 0 0 1px #5a0e04;
      color: #ffcdc7;
      cursor: pointer;
      text-align: center;
      &:hover {
        background: #c61c06;
      }
    }
    &-button-cancel {
      margin-top: 20px;
      line-height: 38px;
      margin-left: 5px;
      float: left;
      width: 121px;
      background: linear-gradient(to top, #caced8, #e8eaef);
      border-radius: 3px;
      box-shadow: 0 0 1px #caced8;
      color: #40434f;
      cursor: pointer;
      text-align: center;
      user-select: none;
      &:active {
        background: linear-gradient(to top, #e8eaef, #caced8);
      }
    }
  }
}

.info {
  margin-top: 15px;
  background: {
    color: white;
  }
  background: {
    image: url(/images/info.png);
    repeat: no-repeat;
    position: 18px center;
  }
  color: #3cb878;
  line-height: 38px;
  padding-left: 45px;
  width: 100%;
}

.inputclass {
  color: #474c50;
  height: 32px;
  position: relative;
  width: 160px;
  &-top {
    border:1px solid #c4c6ca;
    height: 32px;
    width: 100%;
    &-input {
      background-color: white;
      float: left;
      line-height: 30px;
      text-align: center;
      width: 128px;
     }
    &-arrows {
      background: {
        color: linear-gradient(to top, #c3c5ca, #caced8);
        position: center center;
        image: url(/images/upanddownarrows.png);
        repeat: no-repeat;
      }
      float: left;
      height: 30px;
      width: 30px;
      &:active {
        background: linear-gradient(to top, #caced8, #c3c5ca);
      }
    }
  }

  &-bottom {
    border:1px solid #c4c6ca;
    background: white;
    margin-top: 2px;
    position: absolute;
    width: 100%;
    &-in {
      height: 33px;
      padding: 7px 11px;
      &:hover {
        background: #e8eaef;
        cursor: pointer;
      }
    }
  }
}

.inputclassall {
  color: #474c50;
  width: 102px;
  height: 32px;
  position: relative;
  &-top {
    height: 32px;
    width: 100%;
    &-input {
      background: #696d77;
      color: white;
      float: left;
      line-height: 30px;
      text-align: center;
      width: 70px;
    }
    &-arrows {
      background: {
        position: center center;
        image: url(/images/upanddownarrows.png);
        color: linear-gradient(to top, #c3c5ca, #e8eaef);
        repeat: no-repeat;
      }
      float: left;
      height: 30px;
      width: 30px;
      &:active {
        background: linear-gradient(to top, #e8eaef, #c3c5ca);
      }
    }
  }

  &-bottom {
    border:1px solid #c4c6ca;
    background: white;
    margin-top: 2px;
    &-in {
      height: 33px;
      padding: 7px 11px;
      &:hover {
        background: #e8eaef;
        cursor: pointer;
      }
    }
  }
}

.created{
  margin-left: 15px;
  margin-right: 15px;
  &-margin-15{
    margin-left: -15px;
    margin-right: -15px;
  }
  &-margin-0{
    margin-left: 0px;
    margin-right: 0px;
  }
}
.custom-cross {
  background: url(/images/cross.png) center center no-repeat;
  float: right;
  height: 19px;
  width: 20px;
  cursor: pointer;
  &:hover{
    background-image: url(/images/cross-hover.png);
  }
}
.margins-sides-15{
  margin-left: 15px;
  margin-right: 15px;
}

.header-navbar {
  background-color: transparent;
  border-color: transparent;
  min-height: 40px !important;
  ul {
    width: 100%;
    li {
      display: block;
    }
    .li-big {
      width: 16.6%;
    }
    .li-small {
      width: 100%;
    }
  }
}

.auto-complete{
  padding: 0;
  input{
    border: none;
    margin: 0;
    height: 100%;
    width: 100%;
    @include padding-horizontal(15px);
  }
}

.fix-header-socrat {
  margin-right: -15px !important;
}