.login {
  width: 100%;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: url(/images/images/background.png);

  background-repeat: repeat;

  .login-logo {

    margin: 80px 0px 0 210px;

    img {
      width: 147px;
    }
  }
  .login-form {
    margin: 7% auto 0;
    float: none;
    background: url('/images/g26.png');
    margin: 35px auto;
    background-size: contain;
    background-repeat: no-repeat !important;
    width: 432px;
    height: 700px;
    &-header {
      text-align: center;
      // background-image: url(/images/black-background.png);
      background-size: 100% 100%;
      // background-repeat: repeat;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      padding: 10px 0;
      h2 {
        line-height: 30px;
        margin-bottom: 0;
        color: #289be5;
        font-size: 36px;
        font-family: $fontRobotoBold;
        font-weight: bold;
        text-transform: uppercase;
      }
      p {
        line-height: 20px;
        font-family: $fontRobotoRegular;
        font-size: 14px;
        color: $colorLightGreyText;
      }
    }
  }
  form {
    width: 100%;
    margin: 0 auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    // background-color: #ffffff;
    h3 {
      text-align: center;
      font-family: $fontRobotoRegular;
      font-size: 24px;
      color: $colorDarkGreyText;
    }
    label {
      margin-bottom: 5px;
      font-family: $fontRobotoRegular;
      text-transform: uppercase;
      font-size: 12px;
      color: #7a7e89;
    }
    input {
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-bottom: 1px solid #c4c6ca;
      box-shadow: none;
      @include placeholder-style {
        color: #b7b7b7;
        font-family: $fontRobotoLight;
        font-size: 15px;
      }
    ;
      &:focus {
        border-color: #c4c6ca;
        box-shadow: none;
      }
    }
    .form-body {
      padding: 0px 120px 0 0;
      margin: 225px 20px;

      .form-title {
        h3 {
          color: #b7b7b7;
          font-size: 29px;
          text-align: left;
          margin-bottom: 5px;
        }

        img {
          width: 80%;
        }

      }

      .login-inpus {
        padding: 25px 30px 0px 0px;
      }
    }
  }
  .remember-wrp {
    display: inline-block;
  }
  input[type="checkbox"] {
    position: relative;
    top: 2px;
  }
  label[for="remember-me"] {
    font-family: $fontRobotoRegular;
    font-size: 14px;
    margin-left: 5px;
    text-transform: none;
  }
  .forgot-wrp {
    display: inline-block;
    float: right;
    margin-top: 4px;
    margin-right: 70px;
    a {
      text-decoration: none;
      color: gray !important;
      text-transform: uppercase !important;
      font-size: 10px;
      font-weight: bold;
    }

  }
  .button-blue-login {
    margin-left: 0;
    border: none;
    border-radius: 8px;
    font-size: 20px;
  }
  .login-button {
    float: none;
    margin-top: 10px;
  }
  .wrong-password {
    text-align: center;
    margin-top: 20px;
    color: #ff0000;
  }
}
