.hint {
  box-shadow: 0 0 1px rgba(122, 122, 122, 0.5);
  border-radius: 3px;
  color: #677079;
  background: white;
  font-size: 10pt;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  background-image: url("/images/icon-person.png");
  background-repeat: no-repeat;
  background-position: top 10px left 15px;
  margin-bottom: 25px;
}

.result-field {
  box-shadow: 0 0 1px rgba(122, 122, 122, 0.5);
  border-radius: 3px;
  margin-bottom: 25px;
  background: white;
  width: 100%;
  height: 50%;
  padding: 15px;
   td{
   padding: 4px;
  }
}

.import-topic {
  color: #677079;
  font-family: "Arial";
  font-size: 10pt;
  margin-bottom: 20px;
}

.import-radiobuttons {
  line-height: 2.0;
  margin-bottom: 25px;
  font-weight: bold;
}
.import-button-grey{
  background: linear-gradient(to top, #caced8, #e8eaef);
  //background-image: url("../images/upanddownarrows.png");
  //background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 0 1px #caced8;
  color: #40434f;
  cursor: pointer;
  float: left;
  line-height: 38px;
  margin-left: 9px;
  text-align: center;
  width: 30px;
  height: 35px;
}
.import-form{
  margin-bottom: 25px;
}