@function toPercents($target, $context){
  @return $target / $context * 100%;
}
@mixin margin-vertical ($size){
  margin: {
    top:$size;
    bottom:$size;
  }
}
@mixin margin-horizontal ($size){
  margin: {
    left:$size;
    right:$size;
  }
}
@mixin padding-vertical ($size){
  padding: {
    top:$size;
    bottom:$size;
  }
}
@mixin padding-horizontal ($size){
  padding: {
    left:$size;
    right:$size;
  }
}
@mixin square-size ($size, $pref: none){
  @if $pref == none{
    width: $size !important;
    height: $size !important;
  } @else if $pref == max {
    max-width: $size !important;
    max-height: $size !important;
  } @else if $pref == min {
    min-width: $size !important;
    min-height: $size !important;
  }
}
@mixin placeholder-style{
  &::-webkit-input-placeholder{
    @content ;
  }
  &::-moz-placeholder{
    opacity: 1;
    @content ;
  }
  &:-moz-placeholder{
    @content ;
  }
  &:-ms-input-placeholder{
    @content ;
  }
}
@mixin border-radius($rad,$bord ...){
  border:$bord;
  border-radius: $rad;
}
@mixin border-no-bottom($bord ...){
  border:{
    right: $bord;
    left: $bord;
    top: $bord;
  };
}

/*
Bootstrap 3 const(_variables.scss):

  $screen-xs-min: 480px;
  $screen-sm-min: 768px;
  $screen-md-min: 992px;
  $screen-lg-min: 1200px;
  $screen-xs-max: $screen-sm-min - 1;
  $screen-sm-max: $screen-md-min - 1;
  $screen-md-max: $screen-lg-min - 1;
*/

@mixin sm-or-less-display{
  @media (max-width: $screen-sm-max) {
    @content ;
  }
}
@mixin sm-or-more-display{
  @media (min-width: $screen-sm-min) {
    @content ;
  }
}
@mixin sm-display{
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @content ;
  }
}
@mixin xs-or-more-display{
  @media (min-width: $screen-xs-min) {
    @content ;
  }
}
@mixin xs-display{
  @media (max-width: $screen-xs-max) {
    @content
  };
}

//.gg{
//  width:100px;
//  @include xs-display{
//    width: 20px;
//  }
//}
