.office-page {
  &-top {
    padding: 30px 0 68px 0;
    font: {
      size: 14px;
    }
  }
  &-bottom {
    margin-top: 15px;
  }
}

.table-offices {
  background: pink;
  width: 100%;
  text-align: center;
  td {
    height: 44px;
    border: 1px solid #f5f5f5;
    border-collapse: collapse;
    padding: 0 0 0 6px;
  }
  &-trhead {
    text-transform: uppercase;
    background: #f5f5f5;
    color: #7a7e89;
    td {
      padding: 5px 0 5px 6px;
      img {
        cursor: pointer;
        margin-left: 5px;
      }
    }
  }
  &-trtop {
    background: #9da0a8;
    &-search {
      padding: 0px !important;
      div {
        margin: 0 8px;
        &:before {
          background: #696d77 none repeat scroll 0 0;
          content: url(/images/icon-search.png);
          display: block;
          height: 29px;
          padding: 7px 0 0 7px;
          position: absolute;
        }
        img {
          background: #696d77;
          height: 29px;
          padding: 7px 0px;
          width: 10%;
        }
        input {
          font-family: 'Glyphicons Halflings';;
          border: 0;
          color: #efeff0;
          background: #696d77;
          height: 29px;
          padding: 0 8px 0 25px;
          width: 100%;
          /*&:before {
            content: url(/images/icon-search.png) no-repeat;
            height: 29px;
            width: 90px;
          }*/
        }
      }
    }
  }
  &-trbottom {
    background: white;
  }
  .tdlast {
    width: 44px;
    &-magnifier {
      background: url(/images/magnifier.png) no-repeat;
      background-position: center center;
      cursor: pointer;
    }
    &-pencil {
      background: url(/images/pencil.png) no-repeat;
      background-position: center center;
      cursor: pointer;
    }
    &-cross {
      background: url(/images/cross.png) no-repeat;
      background-position: center center;
      cursor: pointer;
    }
  }
  .idcenter {
    text-align: center;
  }
}
