.office-page {

  .cam-name {
    font-weight: 900;
    display: block;
    margin: 10px 0;
  }

  .add-cam-btn {
    float: none;
    display: block;
  }

  .button-grey {
    margin-left: 0;
  }

  h3 {
    margin-top: 40px;
  }

  select {
    display: block;
    margin: 10px 0;
    height: 40px;
  }

  .cam-select-form {
    margin-bottom: 40px;
    label {
      margin-top: 10px;
    }
  }

  .add-buttons-wrp {
    @include clearfix();
    margin: 10px 0;
  }

  button {
    line-height: 25px;
  }
  .button {
    &-green {
      width: 159px;
    }
    &-blue {
      width: 159px;
    }
  }
}

