
.records-full {

  &-page {
    background: url("/images/grey-background.png");;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    overflow-y: auto;
    &-external {
      max-height: 1024px;
      max-width: 1280px;
      height: 100%;
      width: 100%;
      &-top {
        background: {
          image: url(/images/640.png);
          size: 100%;
        }
        height: 720px;
        width: 100%;
        &-play {
          background: {
            image: url(/images/play-bigger.png);
            position: center center;
            repeat: no-repeat;
          }
          height: 100%;
          width: 100%;
          &-to-deploy {
            background: {
              image: url(/images/to-deploy.png);
              position: 1234px 20px;
              repeat: no-repeat;
            }
            height: 100%;
            width: 100%;
            a {
              display: block;
              float: right;
              height: 26px;
              margin: 20px;
              width: 26px;
            }
          }
        }
      }
      &-center {
        height: 132px;
        padding: 20px;
        width: 100%;
        &-in {
          background: {
            image: url(/images/157.png);
          }
          float: left;
          height: 88px;
          width: 157px;
          &-playbig {
            background: {
              image: url(/images/play-big.png);
              position: center center;
              repeat: no-repeat;
            }
            float: left;
            height: 100%;
            width: 100%;
          }
        }
        .video-on-center {
          margin-right: 4px;
        }
      }
      &-bottom {
        height: 30px;
        padding: 0 20px;
        width: 100%;
        &-left {
          background: {
            image: url(/images/play-big.png);
            position: bottom left;
            repeat: no-repeat;
          }
          float: left;
          width: 44px;
          height: 100%;
        }
        &-center {
          background: {
            image: url(/images/play-line.png);
            position: bottom center;
            repeat: no-repeat;
          }
          float: left;
          height: 14px;
          padding-top: 23px;
          width: 1156px;
        }
        &-right {
          background: {
            image: url(/images/volume-small.png);
            position: bottom right;
            repeat: no-repeat;
          }
          float: left;
          height: 100%;
          width: 40px;
          &:hover {
            background: {
              image: url(/images/volume-big.png);
              position: center right;
              repeat: no-repeat;
            }
            height: 130px;
          }
        }
      }
    }
  }

}


/*.records-full {
  height: 100%;
  width: 1280px;
  &-screen {
    height: 100%;
    &-first {
      background: {
        image: url(/images/640.png);
        size: 100%;
      }
      height: 720px;
      width: 100%;
      &-play-bigger {
        background: {
          image: url(/images/play-bigger.png);
          position: center center;
          repeat: no-repeat;
        }
        width: 100%;
        height: 100%;
        &-deploy {
          background: {
            image: url(/images/to-deploy.png);
            position: 594px 20px;
            repeat: no-repeat;
          }
          width: 100%;
          height: 100%;
        }
      }
    }
    &-in {
      background: url(/images/157.png);
      border: {
        right: 4px solid white;
        top: 5px solid white;
      }
      float: left;
      width: 160px;
      height: 93px;
      &-play-big {
        background: {
          image: url(/images/play-big.png);
          position: center center;
          repeat: no-repeat;
        }
        width: 100%;
        height: 100%;
      }
    }
  }
  &-bottom {
    background: yellow;
  }
}*/