@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300&subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700&subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&subset=cyrillic);

// @include font-face("Roboto", "../fonts/Roboto/RobotoRegular");

body {
  font-family: 'Roboto', sans-serif;
  background: url('../images/images/background.png');
  background-size: cover;
}

.wrapper {
  width: 1000px;
}

header {
  padding: 79px 0 30px;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
  float: right;
}

header p {
  padding: 0 20px 0 0;
  margin: 0;
}

.main {
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    flex-direction: column;
    align-items: center;
}

.header-button img {
  max-height: 40px;
  max-width: 40px;
}

.header-button p {
  font-size: 1.5rem;
  /*font-weight: bold;*/
  padding: 10px 0px 0 0;
}

.main-buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 33px;
}

.main-button {
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.5);
    width: 220px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.main-button p {
  font-size: 20px;
  /*font-weight: bold;*/
  margin: -35px 0 0 0;
}

.main-button:hover {
    background: rgba(0, 67, 103, 0.5);
    color: rgba(255, 255, 255, 1);
}

.main-button-active {
  background: rgba(0, 67, 103, 0.5) !important;
  color: rgba(255, 255, 255, 1) !important;
  }

/*.main-button-active p {
  margin: -50px 0 0 0;
}*/

.main-button img {
  max-height: 70px;
  max-width: 70px;
}

.panel {
  margin-top: 0px !important;
  border-radius: 0px !important;
  border: 0px !important;
  border-color: none !important;
  border-top: 0px !important;
  color: #fff;
}

.panel-heading {
  color: #fff !important;
  border-radius: 0px !important;
  background: #1a5575 !important;
  border-color: #1a5575 !important;
}

.panel-footer {
  color: #fff !important;
  border-radius: 0px !important;
  background: #33495f !important;
  border-color: #33495f !important;
}

.panel-heading p {
  margin: 0 0;
  padding: 5px;
}

.panel-heading .form-control {
  background-color: inherit;
  color: #fff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  box-shadow: none;
}
.panel-heading .form-control option {
  background-color: inherit;
  color: #fff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  box-shadow: none;
}
.panel-heading .selectpicker option {
  background-color: inherit;
  color: #fff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  box-shadow: none;
}

.panel-footer .selectpicker option {
  background-color: inherit;
  color: #fff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  box-shadow: none;
}

.panel-heading .btn-default {
  background: #33495f !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow: none;
    color: #fff;

}

.panel-footer .btn-default {
  background: #33495f !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow: none;
    color: #fff;

}

.panel-heading .open>.btn-default {
  background: #33495f !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow: none;
    color: #fff !important;
    outline: none !important;

}

.panel-footer .open>.btn-default {
  background: #33495f !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow: none;
    color: #fff !important;
    outline: none !important;

}

.panel-heading .btn-default {
  background: #33495f !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow: none;
    color: #fff !important;
    outline: none !important;

}
.panel-footer .btn-default {
  background: #33495f !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    box-shadow: none;
    color: #fff !important;
    outline: none !important;

}

.panel-body {
  background: #001c37;
  border-top: 0px !important;
}

.list-group {
  border-radius: 0px !important;
}

.panel-collapse .list-group-item {
  background: #001c37;
  border-top: 0px !important;
  padding: 10px 25px;
}

.panel-sort-buttons {
  padding: 10px 25px;
}

.panel>.list-group:last-child .list-group-item:last-child, .panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
}

.panel-area {
  min-height: 100px;
  color: #333;
  padding: 15px;


  video {
    max-width: 100%;
  }

  table {
    font-size: 11px;
    table-layout: fixed;
  }

  td:first-child {
    width: 50%;
  }
  td:last-child {
      width: 50%;
  }
}

.panel-area th,  .panel-area td{
  border: 0 !important;
}

.table {
  background: #fff;
}

.table thead {
  border-bottom: 3px solid #001c37;
}

.btn-info {
background-color: #569abd !important;
background-image: none !important;
}

.btn-primary {
background-color: #014866 !important;
background-image: none !important;
}

.btn-default {
background-color: #797979 !important;
background-image: none !important;
text-shadow: none;
color: #fff;
}

.table-buttons img {
  padding: 0 5px;
  max-height: 20px;
}

.modal-dialog {
  width: 500px !important;
  margin: 140px auto !important;
}

.modal-content {
  border: 20px solid rgba(255, 255, 255, .2) !important;
  border-radius: 0px !important;

}

.modal-header {
  padding: 33px;
  border-bottom: 0px !important;
}

.modal-footer {
  border-top: 0px !important;
}

.inputs-inline {
  display: flex;

}

.modal-form input {
  border-radius: 0px !important;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  box-shadow: none !important;
  font-size: 17px;
  color: #999;
}

.modal-form select {
    border-radius: 0px !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    box-shadow: none !important;
    color: #999;
}


.input-group-addon {
  border-radius: 0px !important;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  box-shadow: none !important;
  background: #fff;
}

.input-group-addon img {
  max-height: 20px;
}

input,
input::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 2;
}

.flex-buttons {
  display: flex;
  justify-content: space-around;
  padding: 0 70px;
}

.flex-buttons button {
  max-width: 90% !important;
}

.float-right-icon {
  float: right;
  color: #fff;
}

.float-right-icon img {
  max-height: 20px;
}

.learner p {
  color: black;
  margin: 14px !important;
}

.learners {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.learner img {
  float:right;
  max-height: 20px;
}

.messages-box {
  padding: 20px 30px;
}

.message-avatar {
  padding: 0 10px;
}

.message-avatar img {
  max-height: 50px;
}

.message-box {
  color: black;
  display: flex;
  margin-bottom: 10px;
}

.message {
  padding: 0 0;
}

.message-title {
  font-weight: bold;
}

.message-title span {
  color: gray;
  font-size: 13px;
  font-weight: normal;
}

.message-text {
  text-align: justify;
}

.chat-input {
  padding: 10px 20px 10px 80px;
}
.attachments {
  padding: 10px;
}

.attachments div {
  display: inline-block;
}

.attachment div {
  display: inline-block;;
}

.attachment {
  padding: 10px;
}

.attach-info {
  padding: 10px;
}

.attach-info div {
  display: block;
}

.attach-title {
  color: black;
  font-weight: bold;
}

.attach-img {
  padding: 10px;
}

.attach-img img {
  max-height: 50px;
  ￼vertical-align: text-bottom !important;
}

.attach-buttons img {
  max-height: 20px;
  margin: 5px 3px 0px 0px;
}

.task {
  color: black;
  padding: 10px;
}

.title {
  font-weight: bold;
}

.collapse-area {
  background: #001c37;
  padding: 5px 5px 5px 30px;
}

.collapse-area input, .collapse-area span {
  background: #001c37;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  color: #fff;
}

.modal-form {
  color: #999;
  font-size: 17px;
}

.modal-form textarea {
  border-radius: 0px !important;
  box-shadow: none !important;
  font-size: 13px;
  color: #999;
}

.profile-img img {
  max-width: 100% !important;
}

.upload-button img {
  max-height: 20px;
}

.raise-hand {
  background: #569abd;
  padding: 5px 20px;


}

.raise-hand img {
  max-height: 25px;
}

.text-orange {
  color: #FFCC33;
}

.text-green {
  color: #33CC33;
}

.lesson-info {
  font-size: 12px;
}

.btn-danger {
    background-color: #d23d3f !important;
    background-image: none !important;
}

.main-buttons a {
  text-decoration: none;
}

.video-container {
  max-width: 100%;
}

.panel-input {
  padding: 5px 15px;
}

.panel-input input, .panel-input .input-group-addon{
  background: inherit;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid white;
  color: white;
}

.sort-panel .panel-heading{
  background-color: #33495f!important;
}

.sort-panel .panel-body{
  padding: 0 !important;
}

.sort-panel .glyphicon

.filter-triangle {
  color: blue !important;
}

.filter-button {
  padding: 10px 25px
}

.filter-button p{
  margin: 0px;
}

.logo img {
  max-height: 70px;

}
.float-right {
  float: right;
}

.language-button-container {
  position: relative;
  .language-button {
    position: absolute;
    right: 0;
    -webkit-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
    .glyphicon {
      font-size: 18px;
    }
    .language-button-selected {
      padding-left: 4px;
    }
    button {
      font-family: 'Roboto Slab', serif;
      text-align: left;
      width: 130px;
      border: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background: rgba(77,77,78,1)!important;
      padding: 4px 12px 6px;

      .triangle {
        font-size: 10px;
      }

    }
    .dropdown-menu {
      border: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin: 0;
      width: 130px;
      min-width: 115px;
      padding: 0 0 10px !important;
      background: rgba(77,77,78,1);
      -webkit-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
      li {

        a {
          color: white;
          font-size: 14px;
          padding: 3px 13px;
          .language-abbr {
            font-family: 'Roboto Slab', serif;
            font-size: 14px;
          }
        }
        a:hover {
          // color: black;
          background-color: inherit;
        }
      }
      .divider {
        margin: 0 13px 5px;
      }
    }
    .language-button-bottom {
      height: 2px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: rgba(77,77,78,1);
      position: absolute;
      top: 100%;
      width: 130px;
    }
  }
}
