.superadmin-users {
  .edit {
    .sue-button {
      width: 100%;
    }
  }
  .btn-row {
    margin-left: 8px;
  }
  .view {
    .sue-pass {
      float: left;
      padding-left: 15px;
    }
    .btn-pass-mini
    {
      line-height: 26px;
      width: 126px;
      margin-top: -5px;
      margin-left: 15px;
    }
    .btn-exit {
      margin-left: 120px;
    }
  }
}
