$modal-title-padding : 10px;
$modal-header-border-color: white;
$modal-header-background-color: #132038;
$input-border-radius : 0;


$fontRobotoRegular: "RobotoRegular", Verdana, sans-serif;
$fontRobotoLight: "RobotoLight", Verdana, sans-serif;
$fontRobotoMedium: "RobotoMedium", Verdana, sans-serif;
$fontRobotoBold: "RobotoBold", Verdana, sans-serif;


//==================================================================================
// colors
//==================================================================================

$colorLightGreyText: #7a7e89;
$colorDarkGreyText: #30363c;

//==================================================================================
// End of colors
//==================================================================================



//==================================================================================
// common
//==================================================================================

$commonInputBorder: 1px solid #c4c6ca;

//==================================================================================
// End of common
//==================================================================================

