
.learner {
  &-top {
    font-size: 12px;
    height: 45px;
    margin: 30px 0;
    &-left {
      float: left;
      height: 100%;
      width: 370px;
      &-table {
        .left {
          color: #7a7e89;
          text-transform: uppercase;
          width: 90px;
        }
        .bottom {
          padding-top: 10px;
        }
      }
    }
    &-center {
      float: left;
      height: 100%;
      padding-top: 14px;
      width: 270px;
      div {
        float: left;
        img {
          margin-right: 8px;
        }
      }
      .class-right {
        float: right !important;
      }
    }
    &-right {
      float: left;
      height: 100%;
      padding-top: 3px;
      width: 360px;
      .button-grey {
        float: right;
        margin-right: 9px;
        height: 38px;
        width: 160px;
      }
      .button-red {
        float: right;
        height: 38px;
        width: 160px;
      }
    }
  }
  &-greenDiv {
    background: #22b28b;
    color: white;
    height: 70px;
    margin-bottom: 32px;
    padding-top: 15px;
    text-align: center;
  }
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.page-center {
  height: 530px;
  .text-title {
    color: #7a7e89;
    font-size: 12px;
    text-transform: uppercase;
  }
  .cams {
    margin-top: 0px;
    // width: 448px;
  }
  .button-green {
    margin-top: 10px;
  }
  .common-top {
    div {
      img {
        height: 100%;
        padding-top: 25px;
        width: 100%;
      }
    }
  }
  #table-prikrepit {
    width: 100%;
    height: 100px;
    margin-left: 0;
    margin-top: 5px;
  }
  .messages-items {
    margin-top: 0;
  }
  .section {
    height: 475px;
  }
  .section-left {
    height: 295px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 1px rgba(225, 230, 234, 0.75);
    padding: 10px;
  }
  .messages {
    //min-height: 450px;
  }
  .students {
    min-height: none;
  }
  .messages-send {
    //bottom: 0;
    //top: 240px;
  }
  .img-indent {
    padding-top: 20px;
  }
}

