//==================================================================================
// variables
//==================================================================================

$redColor: #ba1702;

//==================================================================================
// End of variables
//==================================================================================



.lesson-run {
  .top-btns-wrp {
    .button-red {
      line-height: 38px;
      float: left;
      width: 159px;
      margin-left: 10px;
      box-shadow: inset 1px 1px 0 0 rgba(#fff, .42),
      0 1px 0 0 rgba(#131313, .36);
      background-image: linear-gradient(to bottom, #d5210a, #b31500);
      &:hover {
        background-image: linear-gradient(to bottom, #b31500, #d5210a);
      }
    }
  }

  .unblocked {
    width: toPercents(143, 308.328);
    &:before {
      position: absolute;
      content: url(/images/icon-unblock.png);
      left: 11px;
      padding-top: 2px;
    }
  }

  .materials {
    padding-bottom: 8px;
    overflow-x: hidden;
    .materials-main {
      margin-left: -10px;
      width: toPercents(328.328, 308.328);
    }
    .materials-table {
      width: 100%;
      margin-top: 10px;
      .materials-table-tdleft {
        height: 24px;
        padding: 10px !important;
        width: 24px;
      }
      tr {
        width: toPercents(288, 328);
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        td {
          .classWord {
            background: url("/images/icon-word.png");
            height: 24px;
            width: 24px;
          }
          .classPptx {
            background: url("/images/icon-powerpoint.png");
            height: 24px;
            width: 24px;
          }
          .classXls {
            background: url("/images/icon-exel.png");
            height: 24px;
            width: 24px;
          }
          .classGeneral {
            background: url("/images/general.png");
            height: 24px;
            width: 24px;
          }
        }
        td:nth-child(1) {
          padding: 10px;
          border-right: 1px solid #eeeeee;
          a {
            text-decoration: underline;
            position: relative;
            &:before {
              position: absolute;
              left: -30px;
              top: -2px;
              //content: url(/images/icon-word.png);
            }
          }
        }
        .download {
          width: 40px;
          background: url("/images/icon-download.png") no-repeat center center;
          cursor: pointer;
        }
      }
    }
  }

  .students {
    .student-list-item {
      @include clearfix();
      margin-top: 10px;
      border: 1px solid #d7d9df;
      padding: 5px;
      img {
        float: left;
        min-width: toPercents(78, 296.328);
      }
      .students-list-item-descr {
        float: right;
        width: toPercents(210, 296.328);
        h5 {
          margin-top: 0;
          font-family: $fontRobotoBold;
          font-weight: bold;
          font-size: 14px;
          line-height: 30px;
          color: $colorDarkGreyText;
        }
        .button-green, .button-blue{
          line-height: 31px;
          margin-top: 7px;
        }
        .button-blue {
          width: toPercents(86, 210);
          margin-left: 0;
        }
        .button-green {
          width: toPercents(101, 210);
          float: right;
          background: #22b28b;
        }
      }
    }
    .student-call {
      @include clearfix();
      padding-top: 20px;
      margin-top: 20px;
      background-color: #e8eaef;
      box-shadow: 2px 2px 3px 0 rgba(#c5c8cb, .75);
      border-radius: 4px;
      text-align: center;
      p {
        font-family: $fontRobotoRegular;
        font-size: 14px;
        line-height: 24px;
        color: #40434f;
        margin: 0;
      }

      .button-red {
        line-height: 38px;
        width: toPercents(179, 308.328);
        float: none;
        font-weight: bold;
        margin: 20px auto 25px;
        box-shadow: inset 1px 1px 0 0 rgba(#fff, .42),
        0 1px 0 0 rgba(#131313, .36);
        background-image: linear-gradient(to bottom, #d5210a, #b31500);
        &:hover {
          background-image: linear-gradient(to bottom, #b31500, #d5210a);
        }
      }
    }
  }

  .messages {
    .button-green.show-new-messages {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      display: block;
      background: #22b28b;
    }
    .message-item {

      margin: 20px 0;
      p {
        margin: 0;
      }
      .message-date {
        span:first-child {
          margin-right: 10px;
        }
      }
      h5 {
        margin-bottom: 0;
        margin-top: 0;
        font-family: $fontRobotoBold;
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        color: $colorDarkGreyText;
      }
      .message-text {
        color: #30363c;
        line-height: 24px;
        font-size: 14px;
      }
    }
    .lot-of-messages {
      position: initial;
    }
  }
}

