//==================================================================================
// common
//==================================================================================

.common {
  &-top {
    > span {
      text-transform: uppercase;
      font-size: 12px;
      line-height: 30px;
      color: $colorLightGreyText;
    }
  }
}

.common-top-btns {
  @include clearfix();
  .button-grey {
    width: 33.333333%;
    margin-left: 0;
    font-size: 12px;
    color: #414450;
    border-radius: 0;
    border: 1px solid #caced8;
    line-height: 32px;
    &:nth-child(1) {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:nth-child(3) {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    &.active {
      background-image: linear-gradient(to bottom, #116faa, #379bda);
      box-shadow: inset 1px 1px 0 0 rgba(#fff, .2);
      color: #ffffff;
      border-top: 1px solid #116faa;
      border-bottom: 1px solid #379bda;
    }
  }
}

//==================================================================================
// End of common
//==================================================================================

.lesson {
  font-family: $fontRobotoRegular;
  padding-bottom: 80px;
  .main-row {
    height: 699.422px;
    .col-sm-4 {
      padding: 0 2.5px;
      &.center, &.right {
        height: 100%;
      }
    }
  }
  .tag{
    &-input {
      width: 250px;
    }
    &-btn {
      margin-top: 15px;
    }
  }
  .top-info {
    padding: 30px 5px 30px 0;
  }
  .top-btns-wrp {
    span {
      float: left;
      font-size: 14px;
      line-height: 42px;
      color: $colorDarkGreyText;
      margin-right: 20px;
    }
  }
  .section {
    background-color: #ffffff;
    box-shadow: 0 1px 0 1px rgba(#e1e6ea, .75);
    border-radius: 5px;
    padding: 10px;
  }
  .lesson-icon {
    display: inline-block;
    width: 13px;
    height: 20px;
    background: url(/images/icon-sprites.png);
    background-position: 0 0;
  }
  .volume-icon {
    background-position: 13px 0;
  }

  .bar {
    margin-top: 7px;
    width: 93%;
    height: 6px;
    box-shadow: inset 0 2px 0 5px rgba(#000, .25),
    0 1px 0 1px rgba(#ffffff, .75);
    background-image: linear-gradient(to bottom, #c7c9ce, #fff);
    margin-bottom: 0;
    display: inline-block;
    border-radius: 5px;
    float: right;
    &-fill {
      box-shadow: inset 0 2px 0 0 rgba(#fff, .4);
      background-image: linear-gradient(to bottom, #1780c2, #3ba6e9);
      width: 20%;
      height: 100%;
      border-radius: 5px;
      position: relative;
    }
  }
  .volume {
    margin-top: 15px;
  }

  .volume-bar {
    margin-top: 5px;
  }

  .volume-progress {
    width: 70%;

    input.vertical{
      z-index: 4;
      background: white;
      background-image: linear-gradient(to bottom, #c7c9ce, #fff);
      border-radius: 5px;
      height: 10px;
      width: 297px !important;
    }
    // для мозила
    input[type=range]{
      // fix for FF unable to apply focus style bug
      border: 1px solid white;
      // required for proper track sizing in FF
      width: 70px;
    }
    input[type=range]::-moz-range-track {
      width: 297px;
      height: 5px;
      background: #dbdcdf;
      border: none;
      border-radius: 5px;
    }
    input[type=range]::-moz-range-thumb {
      border: none;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background: #dbdcdf;
      box-shadow: 0px 0px 0px 1px #aaadbe;
    }
    // hide the outline behind the border
    input[type=range]:-moz-focusring{
      outline: 1px solid white;
      outline-offset: -1px;
    }
    input[type=range]:focus::-moz-range-track {
      background: #ccc;
    }
    // ниже идёт для хрома
    input[type=range]{
      -webkit-appearance: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
      width: 297px;
      height: 10px;
      background: #dbdcdf;
      border: none;
      border-radius: 5px;
    }
    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      margin: -1px 0 0 0;
      background: #dbdcdf;
      box-shadow: 0px 0px 0px 1px #aaadbe;
    }
    input[type=range]:focus {
      outline: none;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #ccc;
    }

  }
  .increaser-icon {
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    right: -4px;
    top: -4px;
    background-image: url(/images/icon-progress-button.png);
    background-position: 0 0;
    cursor: pointer;
  }

  .buttons-at-run{
    display: none;
  }
  .cams-at-run{
    display: none;
  }
  .btn-unblocked{
    display: none;
  }
  .materials-at-run{
    display: none;
  }
  .students-at-run{
    display: none;
  }
  .message-at-run{
    display: none;
  }

  .hide-btn{
    display: none;
  }

  .lesson-run{
    .buttons-at-start{
      display: none;
    }
    .buttons-at-run{
      display: block;
    }
    .cams-at-start{
      display: none;
    }
    .cams-at-run{
      display: block;
    }
    .btn-blocked{
      display: none;
    }
    .btn-unblocked{
      display: block;
    }
    .materials-at-start{
      display: none;
    }
    .materials-at-run{
      display: block;
    }
    .students-at-run{
      display: block;
    }
    .message-at-run{
      display: block;
    }
    .message-at-start{
      display: none;
    }
    .chat-container{
      height: 400px;
      overflow: auto;
    }
  }

  .lesson-stop{
    .btn-blocked{
      display: block;
    }
    .btn-unblocked{
      display: none;
    }

  }
}

.cams {
  @include clearfix();
  margin-top: 5px;
  &-top {
    @include clearfix();
    > span {
      text-transform: uppercase;
      font-size: 12px;
      line-height: 30px;
      color: $colorLightGreyText;
    }
    .button-grey {
      line-height: 30px;
      position: relative;
      width: toPercents(131, 308.328);
      span {
        margin-left: 12px;
        font-size: 12px;
        color: #414450;
        text-shadow: 1px 1px 0 rgba(#fff, .35);
      }
      &.blocked {
        &:before {
          position: absolute;
          content: url(/images/icon-block.png);
          left: 11px;
          padding-top: 2px;
        }
      }
    }
  }
  &-images {
    .cams-main-img {
      margin-top: 5px;
      img {
        max-width: 100%;
        min-width: 100%;
      }
    }
    .cams-preview-imgs {
      @include clearfix();
      margin-top: 5px;
      img {
        float: left;
        min-width: 24%;
        max-width: 24%;
        &:not(:last-child) {
          margin-right: 1.3%;
        }
      }
    }
  }
}

.student {
  margin-top: 5px;
  .student-top {
    .button-grey span {
      margin-left: 0;
    }
  }
  .student-image {
    margin-top: 5px;
    img {
      max-width: 100%;
      min-width: 100%;
    }
  }
}

.materials {
  margin-top: 5px;
  .materials-top {
    div span {
      margin-left: 0;
    }
  }
  &-main {
    h3 {
      text-align: center;
      color: #40434f;
      font-size: 18px;
      font-family: $fontRobotoRegular;
    }
  }
}

.students {
  @include clearfix();
  min-height: 100%;
}

.messages {
  @include clearfix();
  min-height: 100%;
  position: relative;
  &-items {
    margin-top: 70px;
    h3 {
      font-size: 18px;
      text-align: center;
      color: #404344;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  &-send {
    position: absolute;
    bottom: 20px;
    float: left;
    width: toPercents(308.328, 328.328);
    label {
      font-weight: normal;
      font-family: $fontRobotoRegular;
      font-size: 12px;
      line-height: 30px;
      color: #7a7e89;
      text-transform: uppercase;
    }
    textarea {
      width: 100%;
      height: 119px;
      border: 1px solid #c4c6ca;
      box-shadow: 2px 2px 0 0 rgba(#e1e6ea, .28);
    }
    .button-grey {
      margin-top: 15px;
      width: toPercents(131, 308.328);
      float: left;
      line-height: 30px;
      margin-left: 0;
    }
  }
}

.displayNone{
  .divg{
  }
  display: none;
}

.lesson-opening{
  .buttons-at-start{
  }
  .buttons-at-run{
    display: none;
  }
}