
.lessonschedule {
  &-left {
    float: left;
    // overflow: auto;
    width: 650px;
  }
  &-right {
    float: left;
    padding-left: 17px;
    width: 350px;
  }
  &-bottom {
    float: left;
    padding: 36px 0;
    width: 100%;
  }
}
.text-green {
   color: #73c799;
 }

.width160px {
  width: 160px !important;
}