<div class="login">
    <div class="col-xs-1 col-ofset-xs-1 login-logo">
      <img ng-src="images/logo.png" alt="" />
    </div>
  <div class="col-xs-4 login-form">
    <form ng-submit = "login()" >
      <div class="login-form-header">
      </div>
      <div class="form-body clearfix">
        <div class="form-title">
          <h3>Войти на портал</h3>
          <img ng-src="images/Icon/path168.png" alt="" />
        </div>
        <div class="login-inpus">
          <div class="form-group">
            <input type="text" id="login-email" class="form-control" placeholder="Логин..." ng-model="username" ng-change="wrongPasswordClear()">
          </div>
          <div class="form-group">
            <input type="password" id="login-password" class="form-control" placeholder="Пароль..." ng-model="password" ng-change="wrongPasswordClear()">
          </div>

          <button type="submit" class="button-blue-login login-button" ng-click="login()">Войти</button>
          <div class="settings-wrp">
            <div class="forgot-wrp">
              <a href="#">Восстановить пароль</a>
            </div>
          </div>
        </div>

        <div class="wrong-password" ng-show="wrongPassword"><span>Неверный пароль</span></div>
      </div>
    </form>
  </div>
</div>
