<div ui-view="">

  <div class="row">
    <div class="col-xs-3">
      
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Период
              </a>
              <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-top"></i></span>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <ul class="list-group">
                <li class="list-group-item" ng-click="sortByPeriod(1)">Неделя</li>
                <li class="list-group-item" ng-click="sortByPeriod(2)">Месяц</li>
                <li class="list-group-item" ng-click="sortByPeriod(3)">Три месяца</li>
                <li class="list-group-item" ng-click="sortByPeriod(4)">Полгода</li>
                <li class="list-group-item" ng-click="sortByPeriod(5)">Год</li>
              </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Дата
              </a>
              <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Время
              </a>
              <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Предмет
              </a>
              <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Класс
              </a>
              <span class="float-right-icon"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-xs-9">
      <table class="table">
        <thead>
          <th>
            #
          </th>
          <th>Дата</th>
          <th>Время</th>
          <th>Предмет</th>
          <th>Тема урока</th>
          <th>Класс</th>
          <th></th>
          <th></th>
        </thead>
        <tbody>

          <tr  ng-repeat="schedule in schedules">
            <td>{{$index + 1}}</td>
            <td>{{schedule.begin_ts | dateFilter}}</td>
            <td>{{schedule.time}}</td>
            <td>{{schedule.lesson.lessonName}}</td>
            <td>{{schedule.lesson.theme || 'Не задана'}}</td>
            <td>{{schedule.class.className}}</td>
            <td><!-- Button trigger modal -->
              <button type="button" class="btn btn-info btn-sm"
              ng-click="scheduleSwap()" ui-sref="lesson({id:schedule.id})"
              ng-if="schedule.state">
                Войти
              </button>
              <button type="button" class="btn btn-info btn-sm"
              ng-if="(schedule.state === null) && oldDate(schedule.begin_ts)"
              ng-click="scheduleSwap()" ui-sref="lesson({id:schedule.id})">
                Начать
              </button>


            </td>
            <td class="table-buttons">
              <img src="images/images/path5139.png" alt="" data-toggle="modal" data-target="#myModal"
                ng-click="chooseSchedule(schedule.id)"  />
              <img src="images/images/path5159.png" alt="" />
              <img src="images/images/path5143.png" alt="" />
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal modal-form fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title text-center" id="myModalLabel">Редактировать данные об уроке {{choosedSchedule}}</h3>
        </div>
        <div class="modal-body">
          <form>
            <div class="row form-group">

              <div class="col-xs-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="12.05.2016" aria-describedby="basic-addon1"
                  ng-model="choosedSchedule.begin_ts">
                  <span class="input-group-addon" id="basic-addon1">
                    <img src="images/images/path4831-3.png" alt="" />
                  </span>
                </div>
              </div>

              <div class="col-xs-6">
                <select class="form-control" ng-model="choosedSchedule.lessonId">
                  <option ng-repeat="lesson in lessons" value="{{lesson.id}}">{{lesson.lessonName}}</option>
                </select>
                <!-- <select class="form-control">
                  <option>Физика</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select> -->
              </div>

            </div>

            <div class="row form-group">
              <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="12:30:00" aria-describedby="basic-addon1"
                ng-model="choosedSchedule.time">
              </div>
              <div class="col-xs-6">
                <select class="form-control" ng-model="choosedSchedule.classId">
                  <option ng-repeat="class in classes" value="{{class.id}}">{{class.className}}</option>
                </select>
              </div>
            </div>
              <div class="row form-group">
                <div class="col-xs-6">
                  <input type="text" class="form-control" placeholder="45 мин" aria-describedby="basic-addon1"
                   ng-model="choosedSchedule.duration">
                </div>
                <div class="col-xs-6">
                  <select class="form-control">
                    <option>№34</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-xs-6">
                  <input type="text" class="form-control" placeholder="Термодинамика" aria-describedby="basic-addon1">
                </div>
                <div class="col-xs-6">
                  <input type="text" class="form-control" placeholder="Законы термодинамики" aria-describedby="basic-addon1">
                </div>
              </div>
              <br>
              <div class="flex-buttons">
                <button type="button" class="btn btn-info" ng-click="editSchedule()" data-dismiss="modal">Сохранить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
              </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="sort-panel panel-default">
          <uib-accordion-heading>
            I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          </uib-accordion-heading>
          <div class="filter-buttons">
            <div class="filter-button">
              <p>
                sdfsdfsdf
              </p>
            </div>
          </div>
        </div>
        <div uib-accordion-group class="sort-panel panel-default">
          <uib-accordion-heading>
            I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          </uib-accordion-heading>
          <div class="filter-buttons">
            <div class="filter-button">
              <p>
                sdfsdfsdf
              </p>
            </div>
          </div>
        </div>
      </uib-accordion>
    </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

    <div class="row common-note created-margin-0" ng-show="showNoteUpdated">
        <i class="info-icon"></i>
        <span class="note-text">Изменения сохранены</span>
    </div>
    <div class="schedule">
        <div class="content-container">
            <div class="row common-note created" ng-show="showNoteAdded">
                <i class="info-icon"></i>
                <span class="note-text">Урок алгебра добавлен</span>
            </div>

            <!--<div class="row clearfix add-lesson">-->
                <!--<div class="button-green common-green" ui-sref="schedule.add">Добавить урок</div>-->
            <!--</div>-->

            <div class="row period-row clearfix">
                <div class="option-div">
                    <span>Смотреть расписание: </span>
                    <drop-down list="{0:'Выбрать период', 1:'Неделю', 2:'Месяц', 3:'Три месяца', 4:'Полгода', 5:'Год'}"
                               model="sr.periodId"></drop-down>
                </div>
                <div class="choose-date" ng-click="buildCalendar();showCalendar = !showCalendar">
                    <span ng-click="$event.stopPropagation(); resetData()"><b style="font-size: 150%">&times;</b></span>
                    <span>Выбрать дату: {{sendSearchRequest.begin_ts}} </span>
                    <div class="icon-calendar">
                        <div class="calendar" ng-show="showCalendar">

                            <div class="div-calendar" ng-click="$event.stopPropagation()">
                                <table id="calendar2">
                                    <thead>
                                        <tr class="thead-tr-top">
                                            <td class="td-arrow-left" ng-click="previousMonth()">‹</td>
                                            <td colspan="5">{{month}} {{currentDate.getFullYear()}}</td>
                                            <td class="td-arrow-right" ng-click="nextMonth()">›</td>
                                        </tr>
                                        <tr class="thead-tr-bottom">
                                            <td>Пн</td>
                                            <td>Вт</td>
                                            <td>Ср</td>
                                            <td>Чт</td>
                                            <td>Пт</td>
                                            <td>Сб</td>
                                            <td>Вс</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="v in testVar">
                                            <td ng-repeat="v1 in v" ng-click="transferDate(v1.name)" ng-class="{'today':v1.current}">{{v1.name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <table class="table-common" cellpadding="4" cellspacing="1">
                    <tr class="table-common-trhead">
                        <td class="tdlast arrows"
                            ng-click="setSort('begin_ts')"
                            ng-class="{'sort_asc':sortParams.begin_ts===1,'sort_desc':sortParams.begin_ts===2}">
                            <div>Дата</div>
                        </td>
                        <td ng-click="setSort('time')"
                            ng-class="{'sort_asc':sortParams.time===1,'sort_desc':sortParams.time===2}">
                            <div>Время</div>
                        </td>
                        <td>
                            <div>Предмет</div>
                        </td>
                        <td>
                            <div>Класс</div>
                        </td>
                        <td class="tdlast"></td>
                        <!--<td class="tdlast"></td>-->
                        <!--<td class="tdlast"></td>-->
                    </tr>

                    <tr class="table-common-trtop">
                        <td class="table-common-trtop-search">
                            <div> <input type="text" placeholder="" ng-model="sendSearchRequest.begin_ts"
                                   ng-keyup="sendFilter($event)">
                            </div>
                        </td>
                        <td class="table-common-trtop-search">
                            <div>
                                <input type="text" placeholder="" ng-model="sendSearchRequest.time"
                                ng-keyup="sendFilter($event)">
                            </div>
                        </td>
                        <td>
                            <drop-down list="lesson" model="sr.lessonId"></drop-down>
                        </td>
                        <td>
                            <drop-down list="class" model="sr.classId"></drop-down>
                        </td>
                        <td></td>
                        <td></td>
                        <!--<td></td>-->
                    </tr>
                    <tr class="table-common-trbottom date-row first" ng-repeat="schedule in schedules">
                        <td class="idcenter date"><span>{{schedule.begin_ts | dateFilter}}</span></td>
                        <td><span>{{schedule.time}}</span></td>
                        <td><span>{{schedule.lesson.lessonName}}</span></td>
                        <td>{{schedule.class.className}}</td>
                        <td>
                            <div class="button-grey" ng-if="(schedule.state === null) && oldDate(schedule.begin_ts)" ng-click="scheduleSwap()" ui-sref="lesson.create({id:schedule.id})">Начать урок</div>
                            <div class="button-grey" ng-if="schedule.state" ng-click="scheduleSwap()" ui-sref="lesson({id:schedule.id})">Войти в урок</div>

                            <!--<div class="button-grey" ng-if="schedule.state==null" ng-click="scheduleSwap()">Начать урок test</div>-->
                            <!--<div class="button-blue-login" ng-if="schedule.state!==null" ng-click="scheduleSwap()">Войти в урок test</div>-->

                        </td>
                        <td class="tdlast-pencil" ui-sref="schedule.edit({id: schedule.id})"></td>
                        <!--<td class="tdlast-cross" ng-click="showDeleteModal('расписания', deleteSchedule, schedule.id)"></td>-->
                    </tr>
                </table>
                <div class="user-page-bottom" ng-if="pagination.length > 1">
                    <div class="button-number" ng-click="goPreviousPage()">&#60;</div>
                    <div class="button-number" ng-repeat="pgBtn in pagination" ng-click="goToState(pgBtn.offset)" ng-class="{ 'active' : pgBtn.active }">{{pgBtn.num + 1}}</div>
                    <div class="button-number" ng-click="goNextPage()">&#62;</div>
                </div>
            </div>
        </div>
    </div>




</div>
